<footer class="footer">
    <div class="wrapper wrapper_default">
        <div class="footer__row footer-up footer-up_offset">
            <a href="#" class="logo logo__footer">
                <img src="images/logo-colorise.svg" alt="">
            </a>
            <a href="tel:88003509580" class="phone footer__phone">
                8 800 350 95 80
            </a>
            <a href="mailto:omis@kzdm.ru" class="footer__mail title title_blue">omis@kzdm.ru</a>
            <div class="soc footer__soc">
                <a href="#" class="soc__ico soc__ico_you">
                    <svg class="youtube-ico iconed__ico">
                        <use xlink:href="images/icons.svg#youtube-ico">
                        </use>
                    </svg>
                </a>
                <a href="#" class="soc__ico soc__ico_inst">
                    <svg class="instagramm-ico iconed__ico">
                        <use xlink:href="images/icons.svg#instagramm-ico">
                        </use>
                    </svg>
                </a>
                <a href="#" class="soc__ico soc__ico_vk">
                    <svg class="vk-ico iconed__ico">
                        <use xlink:href="images/icons.svg#vk-ico">
                        </use>
                    </svg>
                </a>
                <a href="#" class="soc__ico soc__ico_fb">
                    <svg class="fb-ico iconed__ico">
                        <use xlink:href="images/icons.svg#fb-ico">
                        </use>
                    </svg>
                </a>
            </div>
        </div>
        <nav class="footer__row footer-nav footer-nav_bordered">
            <a href="#" class="footer-nav__link title title_demy title_m title_upper">
                Запчасти
            </a>
            <a href="#" class="footer-nav__link title title_demy title_m title_upper">
                Дилеры
            </a>
            <a href="#" class="footer-nav__link title title_demy title_m title_upper">
                Новости
            </a>
            <a href="#" class="footer-nav__link title title_demy title_m title_upper">
                Популярные вопросы
            </a>
            <a href="#" class="footer-nav__link title title_demy title_m title_upper">
                Акции
            </a>
            <a href="#" class="footer-nav__link title title_demy title_m title_upper">
                Документы
            </a>
            <a href="#" class="footer-nav__link title title_demy title_m title_upper">
                Контакты
            </a>
        </nav>
        <div class="footer__row footer__links">
            <div class="row">
                <div class="col col--xl-2">
                    <div class="footer__col">
                        <a href="#" class="footer__title title title_block title_upper title_demy">
                            Спецтехника
                        </a>
                        <a href="#" class="footer__link">
                            Комбинированные дорожные машины
                        </a>
                        <a href="#" class="footer__link">
                            Вакуумные подметально-уборочные машины
                        </a>
                        <a href="#" class="footer__link">
                            Автогудронаторы
                        </a>
                        <a href="#" class="footer__link">
                            Снегопогрузчики
                        </a>
                        <a href="#" class="footer__link">
                            Ассенизационные машины
                        </a>
                        <a href="#" class="footer__link">
                            Битумовозы-полуприцепы
                        </a>
                        <a href="#" class="footer__link">
                            Битумо-щебне-распределители
                        </a>
                        <a href="#" class="footer__link">
                            Мини-погрузчики
                        </a>
                        <a href="#" class="footer__link">
                            Готовая продукция
                        </a>
                    </div>
                </div>
                <div class="col col--xl-2">
                    <div class="footer__col">
                        <a href="#" class="footer__title title title_block title_upper title_demy">
                            О компании
                        </a>
                        <a href="#" class="footer__link">
                            Лицензии и сертификаты
                        </a>
                        <a href="#" class="footer__link">
                            Сотрудники
                        </a>
                        <a href="#" class="footer__link">
                            Отзывы и благодарственные письма
                        </a>
                        <a href="#" class="footer__link">
                            Вакансии
                        </a>
                        <a href="#" class="footer__link">
                            Партнеры
                        </a>
                        <a href="#" class="footer__link">
                            Реквизиты
                        </a>
                        <a href="#" class="footer__link">
                            Управление качеством
                        </a>
                    </div>
                </div>
                <div class="col col--xl-2">
                    <div class="footer__col">
                        <a href="#" class="footer__title title title_block title_upper title_demy">
                            Сервис
                        </a>
                        <a href="#" class="footer__link">
                            Гарантийное обслуживание
                        </a>
                        <a href="#" class="footer__link">
                            Выездной сервис
                        </a>
                        <a href="#" class="footer__link">
                            Посгарантийное обслуживание
                        </a>
                        <a href="#" class="footer__link">
                            Лизинг
                        </a>
                        <a href="#" class="footer__link">
                            Индивидуальное проектирование
                        </a>
                        <a href="#" class="footer__link">
                            Переоборудование
                        </a>
                    </div>
                </div>
                <div class="col col--xl-2">
                    <div class="footer__col">
                        <a href="#" class="footer__title title title_block title_upper title_demy">
                            Навесное оборудование
                        </a>
                        <a href="#" class="footer__link">
                            Боковые отвалы
                        </a>
                        <a href="#" class="footer__link">
                            Пескоразбрасыватель
                        </a>
                        <a href="#" class="footer__link">
                            Передние отвалы
                        </a>
                        <a href="#" class="footer__link">
                            Емкости для поливомоечных машин
                        </a>
                    </div>
                </div>
                <div class="col col--xl-3 col--xl-offset-1">
                    <div class="contacts footer__contacts">
                        <a href="tel:83522443620" class="contacts__phone">8 3522 44 36 20</a>
                        <div class="contacts__desc contacts__desc_offset contacts__desc_bordered title title_large">
                            <p>
                                Москва, Пресненская наб. 8, 123317<br> Курган, ул. Автозаводская, 1А, 640008
                            </p>
                        </div>
                        <div class="contacts__nav contacts__nav_offset">
                            <div class="city city_offset">
                                <a href="#" data-src="#city-popup" href="javascript:;" class="inline-popup-trigger city-btn iconed iconed_center">
                                    <svg class="location-ico iconed__ico iconed__ico_r-small">
                                        <use xlink:href="images/icons.svg#location-ico">
                                        </use>
                                    </svg>
                                    <span class="city-btn__content">
                                        <span class="city-btn__title ">
                                            Краснодар
                                        </span>
                                        <i class="city-arrow city-arrow_offset"></i>
                                    </span>
                                </a>
                            </div>
                            <a href="#" class="compare iconed iconed_center">
                                <svg class="compare-ico iconed__ico iconed__ico_r-small">
                                    <use xlink:href="images/icons.svg#compare-ico">
                                    </use>
                                </svg>
                                <span class="compare__title">
                                    Сравнение техники
                                </span>
                            </a>
                        </div>
                        <div class="language iconed iconed_center">
                            <img class="language__ico iconed__ico_r-small iconed_ico" src="images/en.png" alt="">
                            <div class="language__content title title_medium">
                                English
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="copy">
            <span class="copy__title">
                © АО «Кургандормаш», 2019
            </span>
            <span class="south-copy">
                <span class="south-copy__title">
                    Сайт нам сделали в <a href="#" class="south-copy__link title title_bold ">sunmedia.</a>
                </span>
            </span>
        </div>
    </div>
</footer>
<div style="display: none;" id="video">
    <video id="my-video" class="video-js " controls preload="auto" poster="MY_VIDEO_POSTER.jpg" data-setup="{'fluid:true'}">
        <source src="video/SampleVideo_1280x720_1mb.mp4" type="video/mp4" />
    </video>
</div>
<div style="display: none;" id="callback">
    <div class="popup">
        <h2 class="h2 popup__title title title_big-offset">
            Заказать звонок
        </h2>
        <div class="popup__desc title title_large ">
            <p>Отправьте заявку любым вам удобным способом: форма обратной связи, социальные сети, телефон или мессенджеры. Мы обязательно перезвоним вам.</p>
        </div>
        <div class="popup__contacts">
            <a href="tel:88003509580" class="phone phone_big popup__phone">
                8 800 350 95 80
            </a>
            <div class="soc popup__soc">
                <a href="#" class="soc__ico soc__ico_fb">
                    <svg class="fb-ico iconed__ico">
                        <use xlink:href="images/icons.svg#fb-ico">
                        </use>
                    </svg>
                </a>
                <a href="#" class="soc__ico soc__ico_telegramm">
                    <svg class="telegramm-ico iconed__ico">
                        <use xlink:href="images/icons.svg#telegramm-ico">
                        </use>
                    </svg>
                </a>
                <a href="#" class="soc__ico soc__ico_watsup">
                    <svg class="watsup-ico iconed__ico">
                        <use xlink:href="images/icons.svg#watsup-ico">
                        </use>
                    </svg>
                </a>
            </div>
        </div>
        <form action="#" class="form popup__form">
            <div class="form__item form__item_offset">
                <input type="text" class="input input_default phone-mask" placeholder="Контактный телефон">
            </div>
            <div class="form__item form__item_offset">
                <div class="licence title title_light-grey title_m">
                    <p>
                        Нажимая кнопку «Отправить» вы даете согласие на обработку ваших персональных данных
                    </p>
                </div>
            </div>
            <div class="form__item form__item_offset">
                <button type="submit" class="btn btn_submit btn_box btn_orange">
                    Отправить
                </button>
            </div>
        </form>

    </div>
</div>
<div style="display: none;" id="window" class="window">
    <div class="window__content">
        <div class="window__left">
            <div class="window__row window__row_bordered">
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        Спецтехника
                    </a>
                    <div class="window-menu">
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="car-combi window-menu__car">
                                    <use xlink:href="images/cars.svg#comby-road-car">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Комбинированные дорожные машины
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="car-vacoom window-menu__car">
                                    <use xlink:href="images/cars.svg#vacuum-podmet-ubor">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Вакуумные подметально-уборочные
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="car-vacoom window-menu__car">
                                    <use xlink:href="images/cars.svg#snow-ubor-car">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Снегопогрузчики
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="assenisator window-menu__car">
                                    <use xlink:href="images/cars.svg#assenisator">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Ассенизационные машины
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="gotovaya window-menu__car">
                                    <use xlink:href="images/cars.svg#gotovaya">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Готовая продукция
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="bitumno-shebnevaya window-menu__car">
                                    <use xlink:href="images/cars.svg#bitumno-shebnevaya">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Битумо-щебне- распределители
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="bitumovosy-pricepy window-menu__car">
                                    <use xlink:href="images/cars.svg#bitumovosy-pricepy">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Битумовозы-полуприцепы
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="mini-pogruzchiki window-menu__car">
                                    <use xlink:href="images/cars.svg#mini-pogruzchiki">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Мини-погрузчики
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center window-menu__spec window-menu__link">
                            <span class="window-menu__ico">
                                <svg class="avtogudronatory window-menu__car">
                                    <use xlink:href="images/cars.svg#avtogudronatory">
                                    </use>
                                </svg>
                            </span>
                            <span class="window-menu__title title title_m">
                                Автогудронаторы
                            </span>
                        </a>

                    </div>
                </div>
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        Оборудование
                    </a>
                    <div class="window-menu">
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Отвалы
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Поливомоечное оборудование
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Пескоразбрасыватели
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Навесное для мини-погрузчика
                            </span>
                        </a>
                    </div>
                </div>
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        О заводе
                    </a>
                    <div class="window-menu">
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                О заводе
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                История завода
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Производство
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Лицензии и сертификаты
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Сотрудники
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Вакансии
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Партнеры
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Управление качеством
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Галерея
                            </span>
                        </a>
                    </div>
                </div>
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        Сервис
                    </a>
                    <div class="window-menu">
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Гарантийное обслуживание
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Выездной сервис
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Посгарантийное обслуживание
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Лизинг
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Индивидуальное проектирование
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Переоборудование
                            </span>
                        </a>
                    </div>
                </div>
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        Новости
                    </a>
                    <div class="window-menu">
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Новости
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                События
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Сми о нас
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Закупки
                            </span>
                        </a>
                        <a href="#" class="iconed iconed_center  window-menu__link">
                            <span class="window-menu__title title title_m">
                                Выставки
                            </span>
                        </a>
                    </div>
                </div>
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        Лизинг
                    </a>
                </div>
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        Продажа в регионах
                    </a>
                </div>
                <div class="window__item window__item_offset">
                    <a href="#" class="h4 title title_upper title_bold window__title title_small-offset title_block">
                        Контакты
                    </a>
                </div>
            </div>
            <div class="window-bottom">
                <div class="window-bottom__left">
                    <div class="window-bottom__item">
                        <a href="#" class="h4 title title_blue title_medium window-mail">omis@kzdm.ru</a>
                    </div>
                    <div class="window-bottom__item">
                        <div class="city">
                            <a href="#" class="city-btn iconed iconed_center">
                                <svg class="location-ico iconed__ico iconed__ico_r-small">
                                    <use xlink:href="images/icons.svg#location-ico">
                                    </use>
                                </svg>
                                <span class="city-btn__content">
                                    <span class="city-btn__title ">
                                        Краснодар
                                    </span>
                                    <i class="city-arrow city-arrow_offset"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="window-bottom__item">
                        <div class="language iconed iconed_center">
                            <img class="language__ico iconed__ico_r-small iconed_ico" src="images/en.png" alt="">
                            <div class="language__content title title_medium">
                                English
                            </div>
                        </div>
                    </div>
                    <div class="window-bottom__item">
                        <a href="#" class="compare window__compare iconed iconed_center">
                            <svg class="compare-ico iconed__ico iconed__ico_r-small">
                                <use xlink:href="images/icons.svg#compare-ico">
                                </use>
                            </svg>
                            <span class="compare__title">
                                Сравнение техники
                            </span>
                        </a>
                    </div>
                </div>
                <div class="soc window__soc">
                    <a href="#" class="soc__ico soc__ico_you">
                        <svg class="youtube-ico iconed__ico">
                            <use xlink:href="images/icons.svg#youtube-ico">
                            </use>
                        </svg>
                    </a>
                    <a href="#" class="soc__ico soc__ico_inst">
                        <svg class="instagramm-ico iconed__ico">
                            <use xlink:href="images/icons.svg#instagramm-ico">
                            </use>
                        </svg>
                    </a>
                    <a href="#" class="soc__ico soc__ico_vk">
                        <svg class="vk-ico iconed__ico">
                            <use xlink:href="images/icons.svg#vk-ico">
                            </use>
                        </svg>
                    </a>
                    <a href="#" class="soc__ico soc__ico_fb">
                        <svg class="fb-ico iconed__ico">
                            <use xlink:href="images/icons.svg#fb-ico">
                            </use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="window__right">
            <a href="javascript:;" class="window-control phone-popup-trigger" data-src="#callback" href="javascript:;">
                <div class="window-control__content">
                    <span class="h4 title title_upper title_bold">
                        Заказать звонок
                    </span>
                </div>
                <span class="window-control__desc">
                    Отправте заявку на консультацию
                </span>
            </a>
            <a href="#" class="window-control window-control_shadow" style="background-image: url('images/configuration.jpg')">
                <div class="window-control__content">
                    <span class="h4 title title_upper title_bold">
                        КОнфигуратор
                    </span>
                </div>
                <span class="window-control__desc">
                    Собрать индивидуальную<br> комбинированную машину
                </span>
            </a>
        </div>
    </div>
</div>

<div style="display: none;" id="city-popup" class="city-popup popup popup_small">
    <div class="popup_content">
        <h3 class="popup__title">
            Выберите город:
        </h3>
        <div class="city-select">
            <div class="row ">
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Барнаул
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Казань
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Волгоград
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Москва
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Самара
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Красноярск
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Санкт-Петербург
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Омск
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Пермь
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Новосибирск
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Омск
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Воронеж
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Екатеринбург
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Челябинск
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Нижний Новгород
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Ростов-на-Дону
                    </a>
                </div>
                <div class="col col--lg-4 col--xs-6">
                    <a href="#" class="city-select__link">
                        Уфа
                    </a>
                </div>
            </div>
        </div>
        <form action="form city-select__form">
            <div class="form__item ">
                <label class="label label_default">
                    Или укажите в поле:
                </label>
            </div>
            <div class="city-select__controls">
                <input type="text" class="input input_default city-select__input" placeholder="Введите название города">
                <button type="submit" class="btn btn_box btn_orange btn_shrink">
                    Это мой город
                </button>
            </div>
        </form>
    </div>
</div>

<div style="display: none;" id="search" class="popup popup_search">
    <div class="search__row search__row_bordered">

        <div class="wrapper search_wrapper wrapper_default">
            <div class="search__small">
                <form action="#" class="search__form">
                    <input type="text" class="search__input" placeholder="Поиск по сайту">
                    <button class="search__submit">
                        <svg class="search__arrow iconed__ico">
                            <use xlink:href="images/icons.svg#arrow-r-slim">
                            </use>
                        </svg>
                    </button>
                </form>
            </div>
            <button type="button" data-fancybox-close="" class="search__close fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
                    <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
                </svg></button>

        </div>
    </div>
    <div class="search__small search-bottom-wrapp">
        <div class="search__bottom">
            <span class="search__title title_m">
                Возможно, вы ищете:
            </span>
            <div class="search-more">
                <a href="#" class="title title_m title_blue search-more__link">
                    Каталог спецтехники
                </a>
                <a href="#" class="title title_m title_blue search-more__link">
                    Доставка
                </a>
                <a href="#" class="title title_m title_blue search-more__link">
                    О заводе
                </a>
                <a href="#" class="title title_m title_blue search-more__link">
                    Контакты
                </a>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/slick.js"></script>



<script src="js/ScrollMagic.min.js"></script>
<script src="js/jquery.onepage-scroll.min.js"></script>
<script src="js/animation.gsap.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/debug.addIndicators.min.js"></script>
<script src="js/jquery.viewportchecker.min.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/video.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.sticky-kit.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fileuploader.min.js"></script>
<script src="js/jquery.inputmask.bundle.min.js"></script>

<script src="js/main.js"></script>
<script>
    new WOW().init();
</script>


</body>

</html>