.preview__row_flex {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.preview__nav {
    padding-top: 5%;
    width: 330px;
    flex-shrink: 0;
}

.card-preview {
    padding-top: 1.6rem;
}

.card-preview__item {
    width: calc(100% - 660px);
}

.preview-link__text {
    display: inline-block;
}

.preview__img {
    display: block;
    font-size: 0;
    margin-bottom: .8rem;
}

.preview__nav_right {
    justify-content: flex-end;
}

.preview__nav_left {
    justify-content: flex-start;
}

.preview__nav {
    display: flex;
    align-items: center;
}

.preview-link_prev {
    text-align: left;
}

.preview-link_next {
    text-align: right;
}

.card-gen__img {
    padding-right: 9rem;
    position: relative;
    height: 100%;
}

.card-gen {
    height: 100%;
}

.card-gen__pic {
    height: 100%;
    text-align: center;

    img {
        max-height: 100%;
    }
}

.card-gen__stickers {
    position: absolute;
    right: 0;
    top: 20%;
}

.preview-char {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-menu__controls {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    .btn {
        height: 100%;
    }
}

.top-nav_widget {
    &.is_stuck {
        .btn_box {
            padding-top: 0;
            padding-bottom: 0;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .sub-menu__link {
            padding: 1.3rem 0 1.5rem;
        }
    }
}

.top-nav {
    position: relative;
}

.sticker {
    &:hover {
        .sticker__content {
            opacity: 1;
            padding-right: 9rem;
            padding-left: 3.2rem;
            width: auto;
            right: 0;
        }
    }

    padding:0.2rem .8rem;
    position: relative;
}

.sticker__ico {
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    position: relative;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
}

.sticker__content {
    &:after {
        content: '';
        width: 2rem;
        height: 100%;
        background: $blue;
        position: absolute;
        z-index: 4;
        right: 0;
        top: 0;
    }

    z-index: 1;
    top: -2px;
    font-size: 2rem;
    padding-right: 0rem;
    padding-left: 0rem;
    right: .8rem;
    border-radius: 40px;
    opacity: 0;
    color: #fff;
    width: 6.4rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    transition: all .3s ease;
}

.sticker__title {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-right: 2rem;

}

.preview-char__items {
    &:last-child{
        &:after{
            display: none;
        }
    }
    &:before {
        content: '';
        width: 1px;
        height: 4.8rem;
        background: #C4C4C4;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    &:after {
        content: '';
        width: 1px;
        height: 4.8rem;
        background: #C4C4C4;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    margin-left:4.8rem;
    margin-right: 4.8rem;
    position: relative;
    padding: 0 2.1rem;
}

.sticker_offset {
    margin-bottom: .8rem;
}

.char-item_offset {
    margin-left: 2.1rem;
    margin-right: 2.1rem;
}

.preview-char__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-char__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5.6rem;
}

.char-item__title {
    margin-bottom: 0;
}

.char-item__title sup {
    font-size: 55%;
}

.preview-price__desc {
    max-width: 23.6rem;
    display: block;
    color: #51565B;
}

.preview-price__content {
    display: block;
}

.preview-arrow.arrow-right-ico {
    width: 2rem;
    height: 4.8rem;
    stroke: $black;
    opacity: .5;
    margin-left: 3.2rem;
}

.is_stuck.stick-menu_fixed {
    position: fixed !important;
    bottom: auto !important;
    width: 100% !important;
}

.char-item {
    display: block;
    text-align: center;
}

.preview-price {
    display: flex;
    align-items: center;
}

.preview-price__title {
    font-size: 4rem;
    color: $orange;
    font-weight: bold;
}

.preview-char {
    padding-bottom: 3.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.preview__top {
    position: relative;
    padding-bottom: 14.4rem;
    height: calc(100vh - (8.4rem + 8.2rem));
}

.tile-gallery__item {
    margin: 2px;
    height: 10.8rem;
    border: 1px solid $border;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 4px);
}

.tile-gallery {

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tile-gallery__other {
    width: 50%;
    display: inline-flex;
    flex-wrap: wrap;
}

.tile-gallery__item_big {
    height: 22rem;
}

.tile-gallery__item img {
    max-width: 100%;
    max-height: 100%;
}

.galley-more__numb {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
    color: $blue;
    text-align: center;
    display: block;
}

.doc-pdf__title {
    display: block;
}

.doc-pdf__ico {
    margin-right: 2rem;
}

.doc-pdf__desc {
    display: block;
    font-size: 1.4rem;
    color: #6C7073;
}

.gallery-hide {
    display: none;
}

.galley-more__title {
    font-size: 1.8rem;
    color: $blue;
    display: block;
    text-align: center;
    opacity: .5;
}

.fuel-type__ico {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;

}

.fuel-type__ico_blue {
    background: rgba(47, 147, 239, .2);
}

.season-item_offset {
    margin-bottom: .8rem;
}

.season-item {
    display: flex;
}

.fuel-type_center {
    display: inline-flex;
    align-items: center;
}

.btns__item {
    &:not(:last-child) {
        margin-right: 1.6rem;
    }

}

.btns_center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.galley-more {
    flex-wrap: wrap;
    background: rgba(15, 53, 153, 0.1);
    border: 1px solid rgba(15, 53, 153, 0.4);
}

.fuel-type__title {
    display: inline-block;
    max-width: 6.7rem;
    color: #2F93EF;
}

.feature-tab__link {
    &.active {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1rem;
            margin: auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $blue transparent transparent transparent;
        }
        font-weight: 600;
        background: $blue;
        color: #fff;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: .6rem 1.0rem;
    height: 6.4rem;
    flex: auto;
    font-size: 1.6rem;
}
.feature-table__content{
    sup{
        font-size: 60%;
    }
}
.feature-tab__nav {
    background: #F3F5FA;
    display: flex;
    align-items: center;
}
.feature-tab__content{
    padding:3.2rem 0;
}
.feature-table{
    .table__td{
        padding:1.4rem 3.2rem;
        font-size: 2rem;
    }
    .table__row:nth-child(even){
        .table__td{
            background: #F4F4F4;
        }
    }
}
.detail-tile_offset{
    margin-bottom: 4rem;
}
.detail-tile{
    color: $black;
    .detail-tile__desc{
        color: $black;
        opacity: .5;
    }
}
.detail-tile_dark{
    color: #fff;
    .detail-tile__desc{
        color: rgba(255,255,255,.5);
    }
}
.detail-tile_big{
    height:52rem;
    
}
.detail-tile{
    padding: 3.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.detail-tile_half{
    
    height: 24rem;
}
.detail-tile__title{
    display: block;
    margin-bottom: .6rem;
    font-weight: 600;
    text-transform: uppercase;
}
.detail-tile__desc{
    display: block;
    font-size: 2rem;
    
}
.video-widget__title_white{
    color: #fff;
    margin-bottom: 0;
}
.video-widget__play{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9;
}
.video-widget{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    height: calc(100vh - 13rem);
    position: relative;
}
.unusual{
    max-height: calc(100vw - 18rem);
    overflow: hidden;
}
.unusual-aside{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video-widget__content{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 8.2rem 0;
    left: 0;
    top: 0;
}
.section.secton_b-none{
    padding-bottom: 0;
}
.car-work__desc{
    max-width: 58.2rem;
}
.unusual__pic{
    max-height: 100%;
}
.unusual__img{
    top: 4rem;
    left: 5.4rem;
    max-height: 100%;
    position: relative;
}
.unusual-aside__pic_offset{
    margin-bottom:10rem;
}
.process-h{
    padding-top: 8.4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mass-imagered__content{
    position: relative;
}
.mass-item_offset{
    margin-bottom: 4rem;
}
.mass-item_medium{
    padding: 3.2rem;
    height: 40.3rem;
    .mass-imagered__desc{
        max-width: 40rem;
    }
}
.mass-imagered{
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;    
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,.4) 100%);
    }
    position: relative;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    
}
.mass-item_large{
    .mass-imagered__desc{
        max-width: 64rem;
    }
    padding:4.8rem;
    height: 60rem;
    
}
.mass-tile{
    width: 26.4rem;
    display: inline-block;
    height: 43rem;
}
.row_right{
    justify-content: flex-end;
}
.mass-tile__img{
    display: block;
    width:26.4rem;
    height: 26.4rem;
}
.card-preim__item{
    text-align: center;
}
.row_center{
    justify-content: center;
}
.mass-tile__pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mass-tile__cotnent{
    max-height: 12.8rem;
    padding: 1.6rem 0;
}
.card-preim__item{
    max-width: 26.4rem;
    margin-left: auto;
    margin-right: auto;
}
.card-preim__subtitle{
    font-size: 2rem;
}
.card-preim__ico{
    margin-bottom: .8rem;
}
.card-preim__item_offset{
    margin-bottom: 3rem;
}
.car-preim__item_offset{
    margin-bottom: 4rem;
}
.car-preim__items{
    padding-right: 2rem;
}
.car-preim__img.is_stuck{
    position: fixed!important;
}
.full-preim__content{
    width: 100%;
    position: relative;
    color: #fff;
}
.full-preim__title{
    font-size: 2rem;
    max-width: 23.4rem;
    margin-left: auto;
    margin-right: auto;
}
.full-preim__ico{
    margin-bottom: 1.6rem;
}
.full-preim__item{
    text-align: center;
}
.full-preim{
    &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 100%);
    }
    padding: 6.4rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    height:64rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.plus-widget{
    width: 0;
    height: 0;
    position: absolute;
}
.plus-widget__item{
    &:before{
        content: '';
        width:1.6rem;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }
    &:after{
        content: '';
        width:2px;
        height: 1.6rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }
    position: relative;
    width:4.8rem;
    height: 4.8rem;
    background: $blue; 
    border-radius: 50%;
    display: inline-block;
    
}
.plus-widget__btn{
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    border: 1px solid #D3DBE2;
    background: rgba(255,255,255,0);
    cursor: pointer;
}
.plus-widget__wrapp{
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    opacity: 0;
    transform: translateY(-3rem);
    pointer-events: none;
    margin-top: -5rem;
    padding-right: 2.8rem;
    transition: all .2s cubic-bezier(0.29, 0.68, 0.7, 0.7);
}
.plus-widget__content{
    &:before{
        content: '';
        width: 0;
height: 0;
border-style: solid;
border-width: 12px 0 12px 13px;
border-color: transparent transparent transparent #fff;
        position: absolute;
        right: -12px;
        top: 7.5rem;
        position: absolute;
        
    }
    position: relative;
    width:43.6rem;
    background: #fff;
    padding:0 2.4rem 2rem;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
}
.plus-widget__trigger:hover{
    .plus-widget__wrapp{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}
.plus-widget__config{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
}
.plus-widget__title{
    display: block;
    text-align: left;
    width: 24.3rem;
}
.plus-widget__pic{
    max-width: 100%;
    max-height: 100%;
}
.plus-widget__img{
    width: 14rem;
    height: 10.3rem;
    display: inline-block;
    flex-shrink: 0;
    margin-right: .8rem;
}
.plus-nav__title{
    display: block;
    text-align: left;
    padding-right: 3rem;
}
.plus-nav{
    padding: 1.6rem 0;
    display: flex;
    align-items: flex-start;
}
.plus-nav__link{
    flex-shrink: 0;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    border: 1px solid $border;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tile-gallery__other_offset{
    padding-left: 3rem;
}
.tile-gallery__item_n-o{
    margin: 0;
}
.sales-widget__title{
        position: relative;
        z-index: 3;
    }