.top-nav__content{
    .window-menu__ico svg{
        height:3rem;
    }
    .window-menu__title{
        display: block;
        width: 100%;
        text-align: center;
    }
    .window-menu__spec{
        padding: 1.2rem 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .window-menu__ico{
        margin-right: 0;
    }
}
.top-nav__content_start{
    align-items: flex-start;
}
.pagination__link{
    font-size: 2rem;
     padding: 1.5rem 0;
    display: inline-block;
}
.pagination__items{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pagination__item{
    position: relative;
    &:before{
        content: '';
        width: 100%;
        height: 1px;
        background: $blue;
        position: absolute;
        top: -1px;
        left: 0;
        opacity: 0;
    }
    &.active{
        &:before{
            opacity: 1;
        }
        font-weight: 500;
        color: $blue;
    }
    font-size:2rem;
    color:$black;
    
    padding: 1.5rem;
}
.pagination__sep{
    display: inline-block;
    font-size:2rem;
    color:$black;
    padding: 1.5rem;
}
.pagination{
    border-top: 1px solid #D4DADD;
}

.sub-menu__content_sb{
    .mCustomScrollBox{
        width: 100%;
    }
    .mCSB_container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
}
.prod-tile_offset{
    margin-bottom: 2.6rem;
}
.prod-tile__desc{
    padding: 1.2rem 0;
}
.prod-tile__img{
    display: block;
    font-size: 0;
}