.compare-list{
    padding-left: 2rem;
    display: inline-flex;
    align-items: flex-start;
   flex-shrink: 0;
    margin-left: -2rem;
    
}
.compared-scroll  {
    overflow: auto;
}
.compare-widget__aside .compare-more{
    height: 31.4rem;
}
.compare-more{
    margin-bottom:1.6rem ;
    height: 32.1rem;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4F4;
}
.compare__item.compare-widget__aside{
    padding-right: 0;
}
.compare__item:last-child .compare__content{
    padding-right: 3rem;
}
.compare__item{
    text-align: left;
    
    width: 58.8rem;
    flex-shrink: 0;
    
}
.compare-widget__aside{
    flex-shrink: 0;
}
.compare-widget{
    display: flex;
    align-items:stretch;
}
.compared-scroll{
    flex: 1;
}
.compare__img{
    width: 100%;
    margin-bottom:1.6rem ;
}
.compare__header{
    padding-right: 3rem;
}
.compare__car{
    position: relative;
}
.compare__remove{
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    border-radius: 50%;
    background: #17181A;
    display: inline-block;
    transform: rotate(45deg);
    width: 4.8rem;
    height: 4.8rem;
    border:none;
    cursor: pointer;
    &:before{
        content: '';
        width: 1.6rem;
        height: 2px;
        background: #fff;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    &:after{
        content: '';
        width: 2px;
        height: 1.6rem;
        background: #fff;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
.compare-scroll{
    width: 100%;
    overflow: auto;
}
.compare__content{
    display: block;
}
.compare__reload{
    display: inline-block;
    width: 8.3rem;
    height: 8rem;
    margin-bottom: 1.6rem;
}
.compare-section{
    margin-bottom: 4rem;
    padding-top: 6rem;
    position: relative;
}
.compare-section__title{
    position: absolute;
    top: 1rem;
    left:3.2rem;
}

.compare-line{
    white-space: nowrap;
    font-weight: 500;
    color: $black;
    &.compare-line_gray{
        color: #3F4449;
        font-weight: 400;
    }
    &:nth-child(odd){
        background: #F4F4F4;
    }
    height: 4.8rem;
    text-align: left;
    padding: 1.2rem 0rem;
    font-size: 2rem;
    white-space: nowrap;
}
.compare:nth-child(1) ~ .compare .compare__content{
    margin-left: -4rem;
    
}
.compare:nth-child(1) ~ .compare .compare-line{
    padding-left: 4rem;
}