.iconed {
    display: inline-flex;

}

.iconed_center {
    align-items: center;
}
.iconed_start{
    align-items: flex-start;
}
.iconed__ico {
    flex-shrink: 0;
}

.iconed__ico_r-default {
    margin-right: 1.2rem;
}
.iconed__ico_r-medium {
    margin-right: 2.4rem;
}
.iconed__ico_l-medium {
    margin-right: 2.4rem;
}
.iconed__ico_l-default {
    margin-left: 1.2rem;
}

.iconed__ico_r-small {
    margin-right: .8rem;
}

.iconed__ico_l-small {
    margin-left: .8rem;
}
.btn_transparent{
    background: rgba(255,255,255,0);
    color: $blue;
}
.btn_black{
    color: #fff;
    background: $black;
}
.fancybox-bg {
    background: #03162C;

}
.btn-wrapper_center{
    text-align: center;
}
.fancybox-is-open .fancybox-bg {
    opacity: .4;
}

.iconed__title {
    display: inline-block;
}

.btn {
    display: inline-block;
}

.btn_submit {
    min-width: 18rem;
    text-align: center;
}

.fancybox-button {
    width: 5.6rem;
    height: 5.6rem;
}

.label_default {
    display: block;
    margin-bottom: .8rem;
}

.btn_box {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2.4rem 3.6rem;
}

.btn_orange {
    background: $orange;
    color: #fff;
    border: none;
}

.slider-dot {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    border: none;
    background: rgba(255, 255, 255, 0);

    &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

.cu-dots {
    .slick-dots {
        height: 100%;
        position: absolute;
        left: 0rem;
        width: 7.6rem;
        background: $blue;
        text-align: center;
        list-style: none;
        padding-left: 0;
        margin: 0;
        top: 0;
        padding-top: 2.8rem;
    }

    .circular-chart {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }
    .circle{
        animation: none;
    }
    .slick-active {
        .circle {
            stroke: rgba(255, 255, 255, .3);
           
        }
    }

    .circle {

        stroke:none;
        fill: none;
        stroke-width: 1.8;
        stroke-linecap: round;
    }

    @keyframes progress {
        0% {
            stroke-dasharray: 0 100;
        }
    }
}

.row_middle {
    .col {
        padding-left: 2.1rem;
        padding-right: 2.1rem;
    }

    margin-left: -2.1rem;
    margin-right: -2.1rem;
}
.row_micro{
    .col {
        padding-left: 2px;
        padding-right: 2px;
    }
    margin-left: -2px;
    margin-right: -2px;
}
.section_gray {
    background: #F4F4F4;
}

.more-widget {
    &:before {
        content: '';
        width: 9.6rem;
        background: $blue;
        display: block;
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        height: 2px;
        margin: auto;
    }

    position: relative;
    border-top:1px solid $border;
    padding-top: 1.8rem;
    text-align: center;
    padding-bottom: 1.8rem;
}

.more-widget__link {

    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.toggler__content {
    padding-bottom: 1.8rem;
}

.toggler__content {
    display: none;
}

.paragraph_middle {
    color: $gray-dark;

    p {
        line-height: 1.4;
    }
}
.input{
    -moz-appearance: none;
-webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
}
textarea{
    -moz-appearance: none;
-webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
}
.btn{
    -moz-appearance: none;
-webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;

}
.input_default {
    &::-webkit-input-placeholder {
        color: $black;
    }

    &::-moz-placeholder {
        color: $black;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
        color: $black;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
        color: $black;
    }

    color: $black;
    width: 100%;
    height:6.4rem;
    border:1px solid $border;
    padding-left: 3.2rem;
    font-size: 1.8rem;
    padding-right: 3.2rem;
}
.row_large{
    margin-left: -20px;
    margin-right: -20px;
    .col{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.section.secton_t-n{
    padding-top: 0;
}
.file-widget_line{
    .fileuploader{
        padding: 0;
    }
    .fileuploader-input .fileuploader-input-caption{
        padding: 0;
        border: none;
        color: $blue;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        
    }
    .fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-remove i{
        &:before{
            content: '';
            width: 10px;
            height: 2px;
            background: #fff;
            position: absolute;
            transform: rotate(45deg);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:after{
            content: '';
            width: 2px;
            height: 10px;
            background: #fff;
            position: absolute;
            transform: rotate(45deg);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        background: $blue;
        box-shadow: none;
        font-size: 0;
    }
    .fileuploader-items .fileuploader-item .column-title{
        font-size: 1.4rem;
        color: $gray;
    }
    .fileuploader-input{
        display: inline-flex;
    }
    .fileuploader-input-button{
        display: none;
    }
    .fileuploader-items .fileuploader-item .column-thumbnail{
        pointer-events: none;
    }
}
.single_offset{
    margin-top: 8rem;
    margin-bottom: 3rem;
    
}
.input_light{
    color: rgba(23, 24, 26,.7);
   &::-webkit-input-placeholder { color: rgba(23, 24, 26,.7); }
   &:-ms-input-placeholder { color: rgba(23, 24, 26,.7); }
   &::-ms-input-placeholder { color: rgba(23, 24, 26,.7); }
   &::placeholder { color: rgba(23, 24, 26,.7); } 
}
.paragraph_gray{
    color: #3F4449;
}
.paragraph{
    ul{
        list-style: none;
        padding-left: 0;
        li{
            position: relative;
            margin-bottom: 2.4rem;
            &:before{
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $blue;
                position: absolute;
                left: -2.4rem;
                top: 1rem;
            }
        }
    }
}
.box{
    &_middle-b{
        margin-bottom: 3.2rem;
    }
}
.table{
    display: table;
    width: 100%;
}
.table__row{
    display: table-row;
}
.table__td{
    display: table-cell;
}
.tab{
    &.active{
        display: block;
        animation: show .3s ease forwards;
    }
    display: none;
}