.single-header_gray{
    background: #FAFAFA;
    height:40rem ;
   
    &:before{
        display: none;
    }
    .single__desc{
         color: $black;
    }
    .single__title{
        color: $blue;
    }
}
.contacts-tile__title{
    margin-bottom: 1.6rem;
}
.contacts-tile__job{
    color: $gray;
}
.contacts-tile__phone{
    font-weight: 500;
}
.contacts-tiles{
    border-bottom: 1px solid $border;
}
.contacts-tile_offset{
    margin-bottom: 3rem;
}
.contacts-tiles_offset{
padding-bottom: 5rem;}
.contacts-map{
    height: 51.8rem;
}
.input_light{
    &:focus{
        border-color: $black;
        
    }
    width: 100%;
    height: 6.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    font-size: 1.8rem;
    color: $black;
    border: 1px solid $border;
    transition: all .2s ease;
    
}
.politic_gray{
    color: #989B9E;
}
.textarea_light{
    &:focus{
        border-color: $black;
        
    }
    width: 100%;
    height: 14rem;
    padding: 2.2rem 3.2rem;
    font-size: 1.8rem;
    color: $black;
    border: 1px solid $border;
    transition: all .2s ease;
}
.team-line__job{
    color: #7d8288;
}
.team-line_offset{
    margin-bottom: 4.8rem;
}
.form__item_b-offset{
    margin-bottom: 3.4rem;
}