@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.nice-load{
    &.slick-initialized{
        display: block;
        animation: show .2s ease forwards;
    }
    display: none;
}
.section_animated{
    transform: translateY(6rem);
    opacity: 0;
    transition: all .4s ease .2s;
}
.section_animated.animated{
    transform: translateY(0);
    opacity: 1;
}
.city-btn{
    .city-btn__title,.city-arrow:before {
        transition: all .2s ease;
    }
    &:hover{
        .city-btn__title{
            color: $blue;
        }
        .city-arrow:before{
            border-color: $blue;
        }
    }
}
.btn_orange{
     &:hover{
        background-color: #e06305;
    }
}
.arrow-slim{
    transition: all .2s ease;
}
.top-nav__link_blue{
    &:hover{
        color: $black!important;
        .hamburger{
            fill:$black;
        }
    }
}
.compare{
    &:hover{
        .compare__title{
            color: $blue;
        }
    }
    .compare__title{
        transition: all .2s ease;
    }
}
.top-nav__link{
    &:hover{
        .arrow-slim{
            fill:$blue;
        }
        color: $blue;
    }
    transition: all .2s ease;
}
.btn{
   
    transition: all .2s ease;
    cursor: pointer;
}
.footer__mail{
    transition: all .2s ease;
    &:hover{
        opacity: .7;
    }
}
.city-select__link{
    transition: all .2s ease;
    &:hover{
        color: $black;
    }
}
.language__content{
    transition: all .2s ease;
}
.language:hover .language__content{
    color: $blue;
}
.footer-nav__link,.footer__link,.footer__phone{
    transition: all .2s ease;
    &:hover{
        color: $blue;
    }
}
.window-control_phone{
    &:hover{
        background: #0e3292;
    }
    transition: all .2s ease;
}
.window-control_shadow:before{
    z-index: 2;
}
.window-control_comb{
    overflow: hidden;
}
.window-control_comb:hover .window-control__pic{
    transform: scale(1.1);
}
.window-control__desc{
    z-index: 3;
}
.window-control__pic{
    transition: all .4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

    .fancybox-slide--complete{
        #callback{
            transform: translateX(0);  
        }
       
    }
    


#callback{
    transform: translateX(100%);
    transition: all .3s ease 1s;
}

#video.fancybox-content{
    .video-js{
        pointer-events: all;
    }
    pointer-events: none;
}
.phone-popup.fancybox-container {
  transform: translateX(100%);
  transition: transform .3s ease-out;
}
.phone-popup{
    .fancybox-bg{
        opacity: 0;
        transition: all .3s ease .3s;
    }
}
.phone-popup.fancybox-is-open {
    .fancybox-bg{
        opacity: .4;
    }
  transform: translateX(0);
}

.phone-popup.fancybox-is-closing {
  transform: translateX(-100%);
}