.box__item_offset {
    margin-bottom: 2.4rem;
}

.paragraph {
    color: $gray-dark;
    blockquote {
        background: $blue;
        color: #fff;
        font-size: 1.8rem;
        margin: 3.2rem 0;
        padding:4rem 4.8rem;
    }
}
.link_inline{
   display: inline-block;
}
