.faq-item__title{
    display: inline-block;
    
    font-weight: 400;
}
.faq-item__header{
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    padding-right: 6rem;
    position: relative;
    cursor: pointer;
}
.faq-item__close{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: rgba(255,255,255,0);
    display: inline-block;
    right: 0;
    top: 2.4rem;
    cursor: pointer;
    border:none;
    transition: all .2s ease;
    &:before{
        content: '';
        width: 2.4rem;
        height: .2rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $black;
        
    }
    &:after{
        content: '';
        width: .2rem;
        height: 2.4rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $black;
        
    }
}
.faq-item__numb{
    display: inline-block;
    width: 3rem;
    color: $blue;
    margin-right: 2rem;
    flex-shrink: 0;
    
    
}

.toggler__content.faq-item__content{
    padding-top:.8rem;
    padding-bottom: 3.2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.faq-item.active{
    .faq-item__close{
        transform: rotate(45deg);
    }
}
.faq-item:not(:last-child){
    border-bottom: 1px solid #CFD9E3;
}