@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  src: url('../fonts/FuturaPT-Book.woff2') format("woff2"),
       url('../fonts/FuturaPT-Book.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  src: url('../fonts/FuturaPT-Medium.woff2') format("woff2"),
       url('../fonts/FuturaPT-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  src: url('../fonts/FuturaPT-Demi.woff2') format("woff2"),
       url('../fonts/FuturaPT-Demi.woff') format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  src: url('../fonts/FuturaPT-Bold.woff2') format("woff2"),
       url('../fonts/FuturaPT-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  src: url('../fonts/FuturaPT-Heavy.woff2') format("woff2"),
       url('../fonts/FuturaPT-Heavy.woff') format("woff");
  font-weight: 900;
  font-style: normal;
}
p{
    &:last-child{
        margin-bottom: 0;
    }
    
}
h1,.h1{
    font-size: 6.4rem;
    margin-top: 0;
}
h2,.h2{
    margin-top: 0;
    font-size: 4.8rem;
}
h3,.h3{
    margin-top: 0;
    font-size: 3.2rem;
    line-height: 1.2;
}
h3,.h3{
    margin-top: 0;
    font-size: 3.2rem;
}
.h3_d-offset{
    margin-bottom: .4em;
}

h4,.h4{
    margin-top: 0;
    font-size: 2.4rem;
}
h5,.h5{
    margin-top: 0;
    font-size: 1.6rem;
}
.title{
    &_b-none{
        margin-bottom: 0;
    }
     &_micro-offset{
        margin-bottom: .4rem;
    }
     &_b-offset{
        margin-bottom: 1.2rem;
    }
    &_small-offset{
        margin-bottom: .8rem;
    }
    &_big-offset{
        margin-bottom: 3.2rem;
    }
    &_middle-offset{
        margin-bottom: 1.6rem;
    }
    &_average-offset{
        margin-bottom: 2.6rem;
    }
    
    &_white{
        color: #fff;
    }
    &_block{
        display: block;
    }
    &_regulat{
        font-weight: 400;
    }
    &_demy{
        font-weight: 600;
    }
    &_demi{
        font-weight: 600;
    }
    &_medium{
        font-weight: 500;
    }
    &_heavy{
        font-weight: 900;
    }
    &_decorated{
        text-decoration: underline;
    }
    &_large{
        font-size: 1.8rem;
    }
    &_grey{
        color: $gray;
    }
    &_light-grey{
        color: #989B9E;
    }
    &_dark-grey{
        color: $gray-dark;
    }
    &_m{
        font-size: 1.6rem;
    }
    &_middle{
        font-size: 1.5rem;
    }
    &_small{
        font-size: 1.4rem;
    }
    &_bold{
        font-weight: bold;
    }
    &_blue{
        color: $blue;
    }
    &_upper{
        text-transform: uppercase;
    }
    &_centered{
        text-align: center;
    }
}
.box__title_average{
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: .8rem;
}