.footer__phone{
    font-size: 3.2rem;
    font-weight: 600;
    display: inline-block;
}
.footer__mail{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 600;
}
.soc__ico{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.soc__ico_you{
    background: #FF0000;
}
.soc__ico_inst{
     background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.soc__ico_vk{
    background: #4A76A8;
}
.soc__ico_fb{
    background: #3B5998;
}
.footer-nav__link{
    display: inline-block;
    padding: 2.2rem 0;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav_bordered{
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
.footer__col{
    padding-right: 2.4rem;
    margin-bottom: 6.4rem;
}
.footer__links{
    padding-top:4.4rem;
}
.footer__title{
    margin-bottom: 1.6rem;
}
.footer__link{
    color: $gray-dark;
    display: block;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}
.contacts__phone{
    font-size: 2.4rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1.8rem;
}
.contacts__desc{
    padding-bottom: 2.4rem;
}
.contacts__desc_bordered{
    border-bottom: 1px solid #C4C4C4;
}
.city-btn__content{
    display: inline-flex;
    align-items: center;
}
.city-arrow_offset{
    margin-left: .4rem;
}
.city_offset{
    margin-right:2.8rem ;
}
.city-arrow{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;
    position: relative;
    top: 1px;
    &:before{
        content: '';
        width: .4rem;
        height: .4rem;
        transform: rotate(45deg);
        border-right:2px solid $black;
        border-bottom:2px solid $black;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}
.language__ico{
    width:3.2rem;
    height: 3.2rem;
    overflow: hidden;
    border-radius: 50%;
}
.contacts__desc_offset{
    margin-bottom:2.4rem ;
}
.contacts__nav{
    display: flex;
    align-items: center;
    
}
.contacts__nav_offset{
    margin-bottom: 2.4rem;
}
.south-copy__link{
    color: #1477fb;
}
.south-copy__title{
    color: rgba(0,0,0,.5);
    display: inline-block;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 0;
    border-top: 1px solid #C4C4C4;
}
#callback{
    padding: 6.8rem 6.4rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 66.4rem;
    background: #fff;
}
.popup__desc{
    color: #64676B;
    margin-bottom: 2rem;
}
.phone_big{
    display: inline-block;
    font-size: 3.2rem;
}
.soc__ico_telegramm{
    background: #0088CC;
}
.popup__soc{
    display: inline-flex;
    align-items: center;
}
.soc__ico_watsup{
    background: #25D366;
}
.popup__phone{
    margin-right:4rem;
}
.popup__contacts{
    margin-bottom: 3.2rem;
    display: flex;
    align-items: center;
}
.popup__soc .soc__ico{
    margin-left: 0;
    margin-right: 1.2rem;
}