html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-family: "FuturaPT", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.23;
    color: $black;
}

p {
    margin-top: 0;
}

.wrapper {
    &_default {
        padding-left: 6.8rem;
        padding-right: 6.8rem;
    }

    &_micro {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    z-index: 99999;
    transition: all .3s ease;

    &.active {
        .phone__callback {
            color: $blue;
        }

        .header-btn__line {
            background: $black;
        }

        .header__right {
            .loop-ico {
                fill: $black;
            }

            .phone-ico {
                fill: $black;
                stroke: $black;
            }
        }

        border-bottom: 1px solid $border;
        z-index: 99999;
        color: $black;
        background: #fff;
    }
}
.footer-links{
    padding-bottom: 1.2rem;
    padding-left: .8rem;
}
.header-nav {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.header-nav__link {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    display: inline-block;
}

.header-nav__item {
    margin-left: 2.4rem;
}

.header-nav__link {
    font-size: 1.3rem;

    font-weight: 600;
    text-transform: uppercase;
}

.header__left {
    display: inline-flex;
    align-items: center;
    flex: 1;
}

.header__logo {
    font-size: 0;
    margin-right: 2.4rem;
}

.phone__numb {
    font-weight: 600;
    display: block;
}

.phone_white {
    color: #fff;
}

.phone__callback {
    font-size: 1.6rem;
    display: block;
}

.header__search {
    margin-right: 2rem;
}

.header__right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    
}

.header__content {
    display: flex;
    align-items: center;
}

.header-btn {
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
    background: none;
    display: inline-block;
    border: none;
    position: relative;
}

.header-btn_offset {
    margin-left: 3.6rem;
}

.header-btn__line {
    &:nth-child(1) {
        top: 1.8rem;
    }

    &:nth-child(2) {
        top: 2.5rem;
    }

    width:3.2rem;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .2s ease;
}

.search__btn {
    flex-shrink: 0;
    width: 4.8rem;
    height: 4.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
}


/*window-menu*/
.window {
    &.fancybox-content {
        width: 100%;

        background: #fff;
        position: absolute;
        top: 8.2rem;
        padding: 0;
        left: 0;

        .fancybox-button {
            display: none;
        }
    }
    

}

.window-menu__spec:hover{
  
    .window-menu__car{
        
    }
    .window-menu__title{
        color: $blue;
    }
}
.window__title {
    transition: all .2s ease;

    &:hover {
        color: $blue;
    }
}

.window__left {
    padding: 3.6rem 10.6rem 2.4rem 6.8rem;
    width: calc(100% - 56rem);
}

.window__content {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.window-menu__link {
    &:hover{
        color: $blue; 
    }
    margin-right: 2rem;
    display: inline-flex;
    transition: all .2s ease;
}
.fancybox-content{
    cursor: default!important;
}
.window__right {
    width: 56rem;
    display: inline-flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: stretch;
}

.window__compare {
    position: relative;
    top: -4px;
}

.soc {
    display: flex;
    align-items: center;
}

.fancybox-slide {
    cursor: pointer;
}

.fancybox-content {
    cursor: default;
}

.window-mail {
    position: relative;
    top: -5px;
}

.window-control {
    color: #fff;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    background: $blue;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.window-menu__ico {
    
    font-size: 0;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 1.2rem;
}
.spec-window .window-menu__ico{
    width: 100%;
    text-align: center;
}
.window-menu__car {
    max-width: 100%;
    transition: all .2s ease;
}

.window-menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.window-menu__spec {
    margin-right: 3.2rem;
    margin-bottom: 1.6rem;
}
.window-menu__title{
    transition: all .2s ease;
}
.window-menu__spec .window-menu__title {
    max-width: 16.2rem;
}

.window__item_offset {
    margin-bottom: 2.4rem;
}

.window-control__content {
    position: relative;
    z-index: 3;
}

.window-control_shadow {
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: #03162C;
        opacity: .4;
    }
}

.fancybox-content#callback {
    z-index: 999999;
}

.window__row_bordered {
    border-bottom: 1px solid $border;
}

.window-bottom__item {
    margin-right: 3.2rem;
}

.window-bottom {
    padding-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.window-bottom__left {
    display: inline-flex;
    align-items: center;
}

.window-control__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3.2rem;
    font-size: 1.8rem;
    display: block;
    text-align: left;
}
.loop-ico{
    flex-shrink: 0;
}
.loop-ico.loop-ico_black {
    fill: $black;
}

.window__soc .soc__ico {
    margin-left: 1.2rem;
}

.mobile {
    .phone__callback {
        font-size: 1.6rem;
    }

    .phone__numb {
        font-size: 1.8rem;
    }

    .phone-ico {
        fill: $black;
        stroke: $black;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.mobile__controls {
    display: flex;
    align-items: center;
}

.header-btn_black {
    .header-btn__line {
        background: $black;
    }
}

.mobile__top {


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1.6rem;
    background: #fff;
    position: relative;
}

.mobile-line-wrapper {
    background: #F4F4F4;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:after {
        content: '';
        pointer-events: none;
        width: 6rem;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #f4f4f4 85%);
        position: absolute;
        right: 0;
        top: 0;
    }
}

.mobile__section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.phone__dark {
    color: $black;
}

.phone__numb {
    font-size: 1.8rem;
}

.mobile .phone__callback {
    font-size: 1.6rem;
    color: $blue;
}

.mobile__content {
    padding-top: 3rem;
    display: none;
    height: calc(100vh - 10.4rem);
    overflow: auto;
    background: #fff;
    -webkit-overflow-scrolling: touch;
}

.mobile-line {
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    position: relative;

}
.mobile-line-wrapper:after{
    opacity: 0;
}

.mobile-line__link {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    flex-shrink: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;

    &:not(:last-child) {
        margin-right: 2.4rem;
    }
}
.mobile .header-btn{
    &.active{
        .header-btn__line:nth-child(1){
            transform: rotate(45deg);
            top: 2.3rem;
            background: #000;
        }
        .header-btn__line:nth-child(2){
            top: 2.3rem;
            transform: rotate(-45deg);
            background: #000;
        }
    }
}
.mobile__logo {
    width: 4.8rem;
    height: 4.4rem;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}

.mobile__callback {
    fill: $black;
   display: inline-flex;
    align-items: center;
}

.mobile__mail {
    font-size: 1.8rem;
    color: $blue;
}

.mobile-contacts {
    display: flex;
    max-width: 40rem;
    align-items: center;
}

.header.deep {

    z-index: 9;
}

.mobile__section {
    margin-bottom: 2.4rem;
}

.mobile-contacts__item:nth-child(1) {
    width: 40%;
}

.mobile-contacts__item:nth-child(2) {
    width: 60%;
}

.conf-btn__title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.mobile-contacts_b-offset {
    margin-bottom: 2.8rem;
}

.conf-btn {
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        position: absolute;
        left: 0;
        top: 0;
    }

    position: relative;
    background-image: url('../images/conf-mobile.jpg');
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 6.4rem;
    padding: 1.5rem;
    justify-content: center;
    z-index: 10;
}

.mobile-contacts {
    margin-top: 1.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mobile .language__ico {
    width: 2.4rem;
    height: 2.4rem;
}

/*window-menu*/
.btn_shrink {
    flex-shrink: 0;
    white-space: nowrap;
}

.popup__title {
    font-size: 3.2rem;
    font-weight: 600;
    display: block;
    margin-top: 0;
    margin-bottom: 1.8rem;
}

.city-select__input {
    margin-right: 1.6rem;
}

.city-select__controls {
    display: flex;
    align-items: center;
}

.city-select__link {
    font-size: 1.8rem;
    color: $blue;
    display: block;
    margin-bottom: 1.2rem;
}

.popup.popup_small {
    padding: 3.4rem 4rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 58.8rem;
}

.inline-popup {
    .fancybox-content{
           overflow: initial;
       }
    .fancybox-button {
        color: #fff!important;
        top: -3.2rem!important;
        right: -3rem!important;
        width: 4rem;
        height: 4rem;

    }
}
.spec-window__links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    .window-menu__ico{
        margin-right: 0;
    }
    .iconed__ico_r-default{
        margin-right: 0;
    }
    .window-menu__spec{
        margin-right: 0;
        flex-shrink: 0;
    }
    .window-menu__link{
        justify-content: center;
        color: $black;
        flex-wrap: wrap;
        width: 10%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .window-menu__title{
        line-height: 1.1;  
        text-align: center;
        
    }
}
.city-select{
    margin-bottom: 1.8rem;
}
.spec-window__content{
    background: #fff;
}
.window-open .spec-window{
    opacity: 1;
    pointer-events: all;
}
.spec-js:hover  .spec-window{
    opacity: 1;
    pointer-events: all;
}
.header__logo{
    position: relative;
    width: 100%;
    max-width: 27.9rem;
    height: 3.6rem;
}
.logo__pic{
    position: absolute;
    left: 0;
    top: 0;
    transition: all .2s ease;
    &:nth-child(1){
        opacity: 1;
        
    }
    &:nth-child(2){
        opacity: 0;
        
    }
}
.window-popup-wr .fancybox-slide--html{
    padding-top: 0;
}
.header.active{
    .logo__pic{
         &:nth-child(1){
        opacity: 0;
        
    }
    &:nth-child(2){
        opacity: 1;
        
    }
    }
}
.spec-window{
    opacity: 0;
    pointer-events: none;
    padding-top: 1.9rem;
    width: 100vw;
    position: absolute;
    top: 6.3rem;
    left: 0;
    transition: all .2s ease;
}
.popup_search{
    .fancybox-button{
        display: none;
    }
    padding: 0!important;
    top: 0;
    position: absolute!important;
    left: 0;
    width: 100%;
    background: #fff;
}
.search_wrapper{
    position: relative;
}
.search__small{
    position: relative;
}
.search__submit{
    width:9.7rem;
    height: 9.7rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border:none;
    right: 0;
    top: 0;
    background:rgba(15, 53, 153,.1); 
}
.search__small{
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.search__close{
    svg{
        fill:rgba(0,0,0,.5);
        width: 2rem;
        height: 2rem;
    }
    display: block;
    margin-left: auto;
    margin-right: 0;
    top: 50%!important;
    transform: translateY(-50%);
    right: 4.8rem!important;
    padding: 0px!important;
    opacity: .5;
    
    color: currentColor;
    width: 20px;
    height: 20px;
    position: relative;

    color: #fff !important;
}

.search__input{
    width: 100%;
    height: 9.7rem;
    border: none;
    font-size:3.2rem;
    font-weight: 400;
    color: $black;
    opacity: .5;
}
.search__row_bordered{
    border-bottom: 1px solid $border;
}
.search__bottom{
    display: flex;
    align-items: center;
}
.search__title{
    margin-right: 1.6rem;
    display: inline-block;
}
.search-more__link{
    display: inline-block;
    margin-right: 1.6rem;
}
.search-more{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.sale__pic{
    display: none;
    margin-bottom: 1.4rem;
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom
}
.mobile__callback_m{
    display: none;
    height: 4rem;
    width: 4rem;
}