.history-link{
    display: block;
    background-repeat: no-repeat;
    background-position: right bottom;
    overflow: hidden;
    height: 24rem;
    border: 1px solid $border;
    padding: 3.2rem;
    background-color: #FAFAFA;
}
.history-link:before{
    display: none;
}
.history-link__content{
    max-width: 28rem;
    display: block;
}
.timeline__static-year{
    display: none;
    font-size: 13rem;
    color: $blue;
    font-weight: 600;
}
.history-link__title{
    line-height: 1;
}
.timeline__year{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20rem;
    font-weight: 500;
    color: $blue;
    text-align: center;
    height: 32.3rem;
}
.timeline__img{
    font-size: 0;
    margin-bottom: 2.4rem;
}
.timeline__pic{
    width: 100%;
}
.timeline__title{
    font-size: 2.2rem;
}

.sticky-time{
    position: fixed;
    top:50%;
    transform: translateY(-40%);
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
}
.timeline__years{
    height: 323px;
    position:relative;
}
.time-show{
    transform: translateY(-50%);
   opacity: 1;
    
}
.timeline__item_offset{
    margin-bottom: 12rem;
}
.timeline__year{
    &.active{
        opacity: 1;
        transform: translateY(0);
    }
    position: absolute;
    
    opacity: 0;
    transform: translateY(5rem);
    transition: all .2s ease;
}
