/**/
.mp-history {
    padding: 100px 0 200px 0;
    position: relative;
    overflow-x: hidden;
}
.mp-history__close {
    display: inline-block;
    height: 65px;
    background: none;
    border: 0;
    cursor: pointer;
    position: fixed;
    padding-right: 70px;
    padding-left: 10px;
    box-sizing: border-box;
    top: 32px;
    right: 58px;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
html._history-open .mp-history__close {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease-in-out 0.1s;
}
.mp-history__text {
   max-width: 700px;
margin-left: auto;
}

.mp-history__item {
    position: relative;
}
.mp-history__img--3 {
    width: 384px;
}
.mp-history__img img {
    width: 100%;
    border-radius: 4px;
}
.mp-history__item-title {
    text-transform: uppercase;
    color: #B0B6D2;
    font-weight: normal;
    margin: 45px 0 45px -65px;
    font-size: 0;
    position: relative;
    z-index: 1;
}
.mp-history__item-title span {
    letter-spacing: 0.12em;
    line-height: 20px;
    font-size: 12px;
}
.mp-history__text ul {
    margin: 40px 0 40px -53px;
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 1;
}
.mp-history__timeline-item._active span:nth-child(1) {
    opacity: 1;
}
.mp-history__timeline-item span {
    font-size: 12px;
    transition: opacity 0.2s ease;
    position: relative;
}
.mp-history__text ul li {
    line-height: 23px;
    font-size: 14px;
    margin: 40px 0;
    
    background-position: 0 8px;
    background-repeat: no-repeat;
    padding-left: 53px;
}
p.incut {
    font-style: normal;
    font-weight: normal;
    line-height: 39px;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #B0B6D2;
    margin: 40px -100px 40px -65px;
    position: relative;
    z-index: 1;
}
.mp-history__text p:not(.incut) {
    line-height: 23px;
    font-size: 14px;
    margin: 40px 0;
    position: relative;
    z-index: 1;
}
.mp-history__fixed-age, .mp-history__fixed-year {
    position: fixed;
    top: 50%;
    left: 40%;
    z-index: 2;
    margin-left: -500px;
    margin-top: -200px;
    overflow: hidden;
    line-height: 1;
    font-size: 20rem;
    font-weight: 500;
    width: 240px;
    height: 190px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3952a2;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transform-origin: right;
    
}
html._history-open .mp-history__fixed-age, html._history-open .mp-history__fixed-year {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.1s;
}
.mp-history__fixed-age-inner, .mp-history__fixed-year-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: top 0.3s ease-in-out;
}
html.desktop .mp-history__fixed-year {
    margin-top: -197px;
}
.mp-history__timeline {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin: -230px 0 0 -620px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transform-origin: right;
    pointer-events: none;
}
.mp-history__timeline-item._active {
    color: #3952A2;
    pointer-events: none;
}
.mp-history__timeline-item {
    font-weight: 600;
    font-size: 0;
    line-height: 45px;
    height: 45px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #B0B6D2;
    cursor: pointer;
    transition: color 0.2s ease;
}
.mp-history__fixed-year {
    color: #3952A2;
    margin-left: -289px;
    z-index: 3;
    transform-origin: left;
}
html._history-open .mp-history__fixed-age, html._history-open .mp-history__fixed-year {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.1s;
}
