.phone-ico {
    width: 4.8rem;
    height: 4.8rem;
    fill: #fff;
    stroke: #fff;
}
.assenisator{
    height: 3rem;
    stroke: #000;
    fill:#000;
    width: 5rem;
}
.gotovaya{
    height: 2.8rem;
    stroke: #000;
    fill:#000;
    width: 5.0rem;
}
.bitumno-shebnevaya{
    width: 6.6rem;
    height: 3.2rem;
    stroke: #000;
    fill:#000;
}
.bitumovosy-pricepy{
    stroke:#000;
    height: 3rem;
    width: 5.3rem;
}
.mini-pogruzchiki{
    stroke:#000;
    height: 3rem;
    fill: #000;
    width: 4.8rem;
}
.avtogudronatory{
    stroke:#000;
    height: 2.8rem;
    width: 5.9rem;
}
.loop-ico {
    width: 2.1rem;
    height: 2.1rem;
    fill: #fff;
}


.sticker-fire {
    width: 2.2rem;
    height: 3.2rem;
    fill: #2F93EF;
}

.arrow-left-ico {
    width: 1rem;
    height: 2.2rem;
    stroke: $black;
    fill: none;
}

.arrow-right-ico {
    width: 1rem;
    height: 2.2rem;
    stroke: $black;
    fill: none;
}
.plus-nav__ico{
    width: 2.4rem;
    height: 2.4rem;
    fill:$blue;
}
.arrow-link-ico {
    position: relative;
    top: .1rem;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: .6rem;

}

.lizing-ico {
    width: 9rem;
    height: 9rem;
}

.youtube-ico {
    width: 1.9rem;
    height: 1.4rem;
    fill: #fff;
}

.instagramm-ico {
    width: 1.9rem;
    height: 1.4rem;
    fill: #fff;
}

.vk-ico {
    width: 1.8rem;
    height: 1rem;
    fill: #fff;
}

.soc__ico {
    margin-left: 1.6rem;
}

.fb-ico {
    width: 1.8rem;
    height: 1.6rem;
    fill: #fff;
    position: relative;
    left: .5rem;
}

.footer-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-ico {
    width: 1.8rem;
    height: 2.1rem;
    fill: $blue;
}

.compare-ico {
    width: 1.4rem;
    height: 1.6rem;
    fill: $blue;
}

.telegramm-ico {
    width: 1.8rem;
    height: 1.6rem;
    fill: #fff;
}

.watsup-ico {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

.car-combi {
    width: 6.8rem;
    height: 3.4rem;
    fill: $black;
    stroke: $black;
}

.car-vacoom {
    width: 5rem;
    height: 3rem;
    fill: $black;
    stroke: $black;
}

.car-snow {
    width: 5.8rem;
    height: 3rem;
    fill: $black;
    stroke: $black;
}
.all-car{
    width: 5.8rem;
    height: 3rem;
    fill: $black;
    stroke: $black;
}
.all-car-min{
    width:5.2rem;
    height: 3rem;
    fill: $black;
    stroke: $black;
}
.search__arrow{
    width: 2rem;
    height: 2rem;
    fill:$blue;
}
.arrow-slim{
    width: 1.8rem;
    height: 1.8rem;
}
.hamburger{
    width: 1.2rem;
    height: .9rem;
    fill:$blue;
}
.iconed__ico_reverce{
    transform: scale(-1);
}
.vector-arrow-ico {
    width: 16px;
    height: 12px;
    stroke:#7D8288;
}
.rule-ico{
    fill:$blue;
    stroke:$border;
    width: 6.4rem;
    height: 6.4rem;
}
.rub-ico{
    width: 6.4rem;
    height: 6.4rem;
}
.window-menu__ico svg .second{
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    
   
    
}
.first{
    fill:#000;
     left: 0;
    top: 0;
    position: absolute;
    stroke:#000;
}
.second{
    transition: all 6.5s ease;
    fill:$blue;
    stroke:$blue;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.window-menu__spec:hover .second{
    stroke-dasharray: 1300;
    stroke-dashoffset: 0;
    opacity: 1;
}
.lizing{
    width:6rem;
    height: 6rem;
}
.lis-1 *{
    transition: all 1.4s ease;
}
.pay-2{
    stroke-dasharray: 144;
    stroke-dashoffset: 144; 
     transition: all 1.5s ease;
}
.lis-2 circle{
            stroke-dasharray: 0 144;
    transition: all 1.5s ease;
    }
.del-2 .liner{
    stroke-dasharray: 67;
    stroke-dashoffset: 67;
    transition: all 1.5s ease;
}
.preim_line:hover{
    .pay-2{
        stroke-dasharray: 144;
    stroke-dashoffset: 0;
        
    }
    .del-2 .liner{
    stroke-dashoffset:0;
    }
    .lis-cls-2{
        opacity: 1;
    }
    .lis-2 circle{
            stroke-dasharray: 146 142;
    }
    
}
