.index-video{
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.3);
        z-index: 1;
    }
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.index-video__bg{
      position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.index-video__content{
    color: #fff;
    position: relative;
    z-index: 3;
}
.index-video__title{
    margin-bottom: .5em;
    line-height: 1.1;
}
.index-video__desc{
    margin-bottom: 3rem;
    padding-right: 13rem;
    
}
.index-video__desc p{
    font-size: 2.4rem;
    line-height: 1.4;
}
.long-slider__title{
    display: block;
    margin-bottom: .8rem;
}

.play-circle{
    &:before{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 11px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: 0;
        left: .4rem;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    width:8.8rem;
    height: 8.8rem;
    border-radius: 50%;
    position:relative;
}
.section__title{
    margin-bottom: 2.2rem;
}
.play-circle_r-offset{
    margin-right: 2.4rem;
}
.play-widget__title{
    font-size: 2.4rem;
    font-weight: bold;
    display: block;
    line-height: 1;
    max-width: 31.3rem;
    margin-bottom: 1.2rem;
}
.play-widget__time{
    opacity: .5;
    font-size: 1.8rem;
    display: block;
}
.play-circle_orange{
    background: $orange;
}
.play-circle_blue {
    background: $blue;
}
.video__slider-widget{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 4;
}
.long-slider__info{
    padding: 2.8rem 5.8rem 2.4rem 9.6rem;
    width: 50%;
    min-height: 16rem;
}
.long-slider__item{
    background: $blue;
    color: #fff;
    display: flex;
    align-items: stretch;
}
.long-slider__img{
    display: block;
    width: 50%;
}
.long-slider__desc{
    font-size:1.6rem;
    opacity: .6;
    line-height: 1.4;
}
.down{
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: 8;
    width: 100%;
}
.down__wrapper{
    position: relative;
    text-align: left;
}
.down-link{
    transform: rotate(-90deg) translateY(7px);
    transform-origin: left;
    font-size: 1.3rem;
    color: #fff;
    opacity: .7;    
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}
.down-link__title{
    display: inline-block;
    padding-left: .8rem;
}
.down-link__ico{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    &:before{
        content: '';
        width:6px;
        height: 6px;
        border-bottom: 2px solid rgba(255,255,255,.7);
        border-right: 2px solid rgba(255,255,255,.7);
        position: absolute;
        transform: rotate(133deg);
        left: 0;
        right: -8px;
        top: 0px;
        bottom: 0;
        margin: auto;
    }
    &:after{
        content: '';
        width:6px;
        height: 6px;
        border-bottom: 2px solid rgba(255,255,255,.5);
        border-right: 2px solid rgba(255,255,255,.5);
        position: absolute;
        transform: rotate(133deg);
        left: 0;
        right: 6px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
.car-article__desc{
    min-height: 3.8rem;
}
.car-article__detail{
    position: relative;
    padding: .8rem 0rem .8rem 0;
}
.secton_default{
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}
.secton_t-small{
    padding-top: 4rem;
    padding-bottom: 6.4rem;
}
.secton_b-small{
    padding-top: 6.4rem;
    padding-bottom: 4rem;
}
.car-article__header{
    position: relative;
    padding-right: 5rem;
}
.car-article__img{
    img{
        width: 100%;
    }
    font-size: 0;
    display: block;
}
.car-article__item{
   margin-bottom: .8rem; 
}
.footer-up_offset{
    padding-top: .6rem;
    padding-bottom: 4.3rem;
}
.cars .car-article__sticker{
    position: absolute;
    right: 0;
    top: 2.4rem;
}
.car-article_offset{
    margin-bottom: 3.4rem;
}
.full{
    position: relative;
}

.full-slider__item{
    min-height: 63rem;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full__info{
    position: absolute;
    width: 100%;
    left: 0;
    top: 27%;
    pointer-events: none;
    z-index: 4;
}
.full-widget{
    max-width: 48rem;
    background: #fff;
    padding:4rem 4.8rem;
    pointer-events: all;
}
.full__desc{
    min-height: 16.8rem;
}
.full-widget-nav__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .8rem;
}
.full-counter__all{
    font-size: 2rem;
    opacity: .5;
     line-height: .65;
    display: inline-block;
}
.full-counter{
    font-weight: 600;
    display: inline-flex;
    align-items: flex-end;
}
.full-counter__sep{
    font-size: 1.4rem;
    display: inline-block;
    line-height: 1;
    margin-left: .5rem;
    opacity: .5;
    margin-right: .3rem;
}
.full-counter__current{
    line-height: .65;
    display: inline-block;
    
    font-size: 3.2rem;
    font-weight: 600;
    display: inline-block;
}

.full-nav__arrow{
    width: 1rem;
    height: 4rem;
    padding: 0;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    border: none;
    background: rgba(255,255,255,0);
   
}
.full-nav__arrow_prev{
    margin-right: 1.4rem;
}
.full-nav__arrow_next{
    margin-left: 1.4rem;
}
.full-line{
    position: relative;
    width: 100%;
    height: 2px;
    background: $border;
}
.full-nav__arrow_prev{
    margin-left: .4rem;
}
.footer-title__arrow{
    &.active{
        transform: scale(-1);
    }
    transition: all .2s ease;
    display: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    top: 1.2rem;
    cursor: pointer;
   
    &:before{
        content: '';
        width: .6rem;
        height: .6rem;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
        position: absolute;
        left: 0;
        right: 0;
        top: -.3rem;
        bottom: 0;
        margin: auto;
        transform: rotate(45deg);
        
    }
}
.full-line{
    display: inline-flex;
    align-items: center;
}
@keyframes fullline{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.full-line__step{
    &.active{
        &:before{
            animation:fullline 6s linear infinite;
        }
    }
    &:before{
        content: '';
        width: 0%;
        height: 100%;
        background: $orange;
        left: 0;
        top: 0;
        display: block;
        transition: all 3s linear;
    }
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    transition: all .3s cubic-bezier(0.9, 0.46, 0.57, 0.89);
    
    
}
.full-nav__arrow_next{
    margin-left: .4rem;
}
.vjs-big-play-button .vjs-icon-placeholder{
    display: none;
}
.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus{
    background: #ff6e00;
}
.video-js .vjs-big-play-button{
  display: none!important;
}
.sale{
    padding:4.8rem 5.6rem;
    display: block;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
.sale__content{
    position: relative;
    height: 100%;
    display: block;
}
.sale_big{
    height:80rem;
}
.sale__header{
    display: block;
    position: relative;
    z-index: 3;
}
.sale__title{
    display: block;
    max-width: 50.3rem;
}
.sale__cat{
    &.sale__cat_white{
        color: #fff;
    }
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.2rem;
    letter-spacing: 0.05em;
    font-size: 1.4rem;
    color: inherit;;
    opacity: .7;
    display: block;
}
.sale_shadow{
    position: relative;
    color: #fff;
    &:before{
        content: '';
        width: 100%;
        height: 70%;
        background: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(255,255,255,0));
        position: absolute;
        top: 0;
        left: 0;
    }
}
.arrow-link_white{
    color: #fff;
    svg{
        fill:#fff;
    }
}
.sale_offset{
    margin-bottom:4rem ;
}
.arrow-link_orange{
    color: $orange;
    svg{
        fill:$orange;
    }
}
.new-tile_offset{
    margin-bottom: 4rem;
}
.sale__arrow-link{
    
    position: absolute;
    left: 0;
    bottom: 0;
}
.sale_small{
    height: 38rem;
}
.new-tile__date{
    margin-bottom:.8rem;
}
.new-tile__title{
    font-size: 2rem;
    font-weight: 600;
    display: block;
    
}
.feedback{
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%), #0B578D;
    padding: 4.8rem 5.6rem 5.6rem;
    position: relative;
}
.feedback__img{
    position: absolute;
    right: 0rem;
    object-fit: cover;
    height: 100%;
    top: 0;
}
.feedback__content{
    position: relative;
    z-index: 3;
    max-width: 58rem;
}
.feedback-form__input{
    &::-webkit-input-placeholder {color:#fff;}
    &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#fff;}
    height: 6.4rem;
    background: #3c759d;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    color: #fff;
    border: none;
    flex: 1;
    margin-right: 1.6rem;
}
.feedback-form{
    display: flex;
    align-items: center;
}
.politic{
    line-height: 1.3;
}
.feedback-form_offset{
    margin-bottom: 2rem;
}
.feedback-form__politic{
    max-width: 40rem;
}
.preim__content{
    background: #F4F4F4;
    height: 100%;
    display: block;
    padding: 3rem 3.4rem;
}
.preim{
    padding-left: .8rem;
    padding-right: .8rem;
}
.preims{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -.8rem;
    margin-right: -.8rem;
}
.preim__ico{
    display: flex;
    align-items: center;
    
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
}
.preim__ico_offset{
    margin-bottom: 2rem;
}
.preim_line{
    width: 25%;
}
.index-video__mobile{
    display: none;
    order: 3;
}
.form__item_offset{
    margin-bottom:2.4rem;
}
.sale__mobile{
    margin-bottom: 1.6rem;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 300px;
    display: none;
}

