@media(min-width:1950px){
    .long-slider__item{
        min-height: 200px;
    }
    .long-slider__title{
        font-size: 3.2rem;
    }
    .long-slider__desc{
        font-size: 2.4rem;
    }
    .cu-dots .slick-dots{
        top: 50%;
        transform: translateY(-50%);
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }
}
@media(max-width:1830px){
    .spec-window__links .window-menu__title{
        font-size: 1.4rem;
    }
}

@media(max-width:1660px){
    .footer__title{
        font-size: 1.4rem;
    }
}
@media(max-height:1640px){
    .history-link{
        position: relative;
    }
    .history-link__content{
        position: relative;
    }
    .history-link:before{
        content:'';
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.6);
        position: absolute;
        top: 0;
        left: 0;
    }
    .index-video__title{
        font-size: 5.4rem;
    }
    .index-video__desc p{
        font-size: 2rem;
    }
    .play-widget__title{
        font-size: 2rem;
    }
    .play-widget__time{
        font-size: 1.6rem;
    }
    
}
@media(max-width:1599px){
    .window__left{
        padding: 3.6rem 5.6rem 2.4rem 4.8rem;
    }
}
@media(max-height:1560px){
    .header__logo{
        margin-right: 1.8rem;
    }
    .header-nav__item{
        margin-left: 1.8rem;
    }
    .wrapper_default{
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }
    .header-btn_offset{
        margin-left: 2.6rem;
    }
    .window__right{
        width: 50rem;
    }
    .window__left{
        width: calc(100% - 50rem);
    }
}
@media(max-width:1500px){
    .mp-history__text{
        max-width: 600px;
    }
}
@media(max-width:1460px){
    .section_production{
        padding-right: 3rem;
    }
    .prod__desc{
        padding-left: 3rem;
    }
    .production__title{
        font-size: 4.8rem;
    }
    .card-preim__subtitle{
        font-size: 1.8rem;
    }
    .mass_fluid .mass-tile__img{
        height: 19rem;
    }
    .top-nav_w-controls{
        .btn_box{
            padding: 2.4rem 1.6rem;
        }
        .btn_box{
            font-size: 1.3rem;
        }
        .sub-menu__link{
            font-size: 1.3rem;
        }
    }
    .preview-char__title{
        font-size: 3.8rem;
    }
    
    .plus-nav__link{
        width: 4rem;
        height: 4rem;
    }
    .plus-widget__content{
        width: 30rem;
        padding: 0 1.6rem 1.2rem;
    }
    .plus-widget__item{
        width: 2.8rem;
        height: 2.8rem;
    }
    .plus-widget__item:before{
        width: 1rem;
    }
    .plus-widget__item:after{
        height: 1rem;
    }
    .plus-widget__btn{
        width: 4rem;
        height: 4rem;
    }
    .plus-widget__img{
        width: 9rem;
        height: 6.3rem;
    }
    
    .plus-nav{
        align-items: center;
    }
    .plus-nav__title{
        padding-right: 1rem;
        font-size: 1.2rem;
    }
    .plus-widget__config{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .plus-widget__title{
        font-size: 1.4rem;
    }
    .char-item__title{
        font-size: 2.4rem;
    }
    .sticker__title{
        font-size: 1.6rem;
    }
    .sticker:hover .sticker__content{
            padding-right: 5.5rem
    }
    .rule-ico{
        width: 4rem;
        height: 4rem;
    }
    .rub-ico{
        width: 4rem;
        height: 4rem;
    }
    .sticker__ico{
        width: 4rem;
        height: 4rem;
    }
    .preview-price__title{
        font-size: 2.4rem;
    }
    .preview-price__desc{
        font-size: 1.4rem;
    }
    .numb-preim__title{
        font-size: 6rem;
    }
    .window__left{
        width: calc(100% - 40rem);
        padding: 2.4rem 2.4rem 2.4rem 2.4rem;
    }
    .window__right{
        width: 40rem;
    }
    .index-video__title{
        font-size: 4.4rem;
    }
    .header__logo{
        margin-right: .8rem;
    }
    .header__search{
        margin-right: 1.2rem;
    }
    .header-btn_offset{
        margin-left: 1.6rem;    
    }
    .cu-dots .slick-dots{
        width: 5.6rem;
    }
    .long-slider__info{
        padding: 2.8rem 1.8rem 2.4rem 6.6rem;
    }
    .play-circle{
        width: 6.8rem;
        height: 6.8rem;
    }
    .play-widget__title{
        font-size: 1.6rem;
    }
    .header-nav__link{
        font-size: 1.2rem;
    }
    .header__logo{
        max-width: 22rem;
    }
}
@media(max-width:1400px){
    
    .map-baloon__popover{
        left: -45px;
        padding-left: 10px;
        padding-right:10px;
        font-size: 1rem;
        top: 0px;
        height: 2.6rem;
    }
    .sales-widget__title{
        font-size: 3.8rem;
    }
    .map-baloon__center:after{
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media(max-width:1360px){
    .mp-history__fixed-year{
        margin-left: -313px;
    }
    .mp-history__fixed-age, .mp-history__fixed-year{
        font-size: 17rem;
    }
    .partner-sub__col{
        width: 20%;
    }
    .people-tile__title{
        font-size: 1.8rem;
    }
    .feature-table .table__td{
        font-size: 1.6rem;
    }
    .feature-desc{
        font-size: 2.4rem;
    }
    .sales-map{
        margin-top: 0;
        margin-left: 10%;
    }
    .window__title{
        font-size: 2rem;
    }
    .window-menu__spec{
        margin-right: 1.2rem;
    }
    .row_middle{
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        .col{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .wrapper_default{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media(max-width:1300px){
    .section-numb{
        position: static;
    }
    .prod__desc{
        padding-left: 0;
        max-width: inherit;
    }
    .production__left{
        width: 100%;
        margin-left: 0;
    }
    .production-slider{
        display: none;
    }
    .window-mail{
        font-size: 1.8rem;
    }
    .stick-menu .wrapper{
        padding-right: 0;
        max-width: 100%;
    }
}
@media(max-width:1280px){
    
     .production__title{
        font-size: 3.4rem;
    }
    .preview__nav{
        width: 18rem;
    }
    .card-preview__item{
        width: calc(100% - 360px);
    }
    .card-gen__img{
        padding-right: 0;
    }
    .search-bottom-wrapp{
        display: none;
    }
    .search__input{
        font-size: 2rem;
    }
    .search__small{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .search__row{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .search__close{
        right: 2.5rem!important;
    }
    .window__left{
        width: calc(100% - 33rem);
    }
    .window__right {
        width: 33rem;
    }
    .window-menu__spec{
        margin-bottom: .8rem;
    }
    .window-control__content .title{
        font-size: 1.8rem;
    }
    .window__soc{
        width: 100%;
    }
    .window-bottom__left{
        width: 100%;
        justify-content: space-between;
        margin-bottom: .8rem;
    }
    .window__soc .soc__ico{
        margin-left: 0;
        margin-right: 1.2rem;
    }
}
@media(max-width:1270px){
    .contacts-tile__title{
        font-size: 2.4rem;
    }
    .contacts-tile__job{
        font-size: 1.6rem;
    }
    .team-line__title{
        font-size: 1.8rem;
    }
    .video__slider-widget{
        width: 56%;
    }
    .index-video__desc{
        padding-right: 0;
    }
    .index-video__title{
        font-size: 3.4rem;
    }
    .header-nav__item{
        margin-left: 1.2rem;
    }
    .header-btn_offset{
        margin-left: 1rem;
    }
    .phone-ico{
        width: 3.8rem;
        height: 3.8rem;
    }
    .phone__numb{
        font-size: 1.4rem;
    }
    .header__logo{
        max-width: 18rem;
    }
    .sub-menu__link:not(:last-child){
        margin-right: 1.4rem;
    }
}
@media(max-width:1200px){
    .car-preim__items{
        padding-top: 2rem;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .car-preim__desc{
        font-size: 1.4rem;
    }
    .car-preim__title{
        font-size: 1.6rem;
    }
    .car-preim__ico{
        margin-right: 1.5rem;
        width: 30px;
        height: 30px;
    }
    .car-preim__item{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 1.5rem;
        width: 33.3%;
    }
    .mp-history{
        padding-top: 0;
        padding-bottom: 0;
    }
    .timeline__static-year{
        display: block;
    }
    .mp-history__fixed-year{
        display: none;
    }
    .mp-history__fixed-age{
        display: none;
    }
    .mp-history__text{
        max-width: 100%;
    }
     .tile-imagered .tile-imagered__title{
        font-size: 2.4rem;
    }
    .full-slider .slick-slide{
        padding-left: 0;
        padding-right: 0;
    }
    .mass-tile{
        height: auto;
        margin-bottom: 1.8rem;    
    }
    .card-desc__item{
        margin-bottom: 2rem;
    }
    .detail-tile_big{
        height: 60rem;
    }
    .detail-tile_half {
    height: 28rem;
}
    .secton_b-small{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .fuel-type__title{
        max-width: inherit;
    }
    .feature__nav{
        .season-item{
            margin-left: 1.2rem;
            margin-right: 1.2rem;
        }
        align-items: center;
    }
    .feature-tab{
        margin-top: 2rem;
    }
    .row_large{
        margin-left: -15px;
        margin-right: -15px;
    }
    .preview-char__items{
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
}
@media(max-width:1160px){
    .header__logo{
        max-width: 15rem;
        height: 2.7rem;
    }
}
@media(max-width:1120px){
    .top-nav_w-controls .sub-menu__link{
        font-size: 1.2rem;
    }
    .top-nav_w-controls .btn_box{
        font-size: 1.2rem;
    }
    .search__close{
        right: 1.0rem!important;
    }
    .wrapper.search_wrapper {
        padding-right: 4rem;
    }
    .logo__footer{
        max-width: 23rem;
    }
    .footer__phone{
        font-size: 2.8rem;
    }
    .footer__mail{
        font-size: 2.8rem;
    }
    .preim__title{
        font-size: 2rem;
    }
    .feedback__content{
        max-width: 66rem;
    }
    .feedback{
        padding:2.8rem 2.4rem 2.8rem ;
    }
    .new-tile__title{
        font-size: 1.8rem;
    }
    .new-tile__date{
        font-size: 1.6rem;
    }
    h3, .h3{
        font-size: 2.4rem;
    }
    .full__desc{
        min-height: 12rem;
    }
    .header__logo{
        max-width: 14rem;
    }
    .header__search{
        margin-right: .8rem;
    }
    .header-nav__link{
        font-size: 1.1rem;
    }
    .search__btn{
        width: 3.8rem;
    }
    .wrapper_default{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .loop-ico{
        width: 1.8rem;
        height: 1.8rem;
    }
}
@media(max-width:1130px){
    .stick-menu.is_stuck{
        top: 8.1rem!important;
        animation: none;
    }
}
@media(max-width:1100px){
    .custom-scroll-x {
        &.sub-menu__content .mCSB_container{
            justify-content: flex-start;
            .sub-menu__link{
                font-size: 1.2rem;
            }
        }
    }
    .top-nav{
        .col--lg-10{
            width: 100%;
            margin-left: 0;
        }
    }
    .stick-menu.is_stuck{
        top: 7.9rem!important;
        animation: none;
    }
    .baner_imagered img{
        max-height:86vh;
    }
    .video__slider-widget{
        width:63%;
    }
    .compare__item.compare-widget__aside{
        width: 500px;
    }
    .full-preim__title{
        font-size: 1.4rem;
    }
    .full-preim{
        padding: 2rem;
    }
    .partners-nav{
        padding-bottom: 3rem;
    }
    .our-partners__item{
        height: 50rem;
    }
    .plus-widget{
        display: none;
    }
    .char-item__desc{
        font-size: 1.4rem;
    }
    .char-item__title{
        font-size: 1.8rem;
    }
    .preview-char__title{
        font-size: 2.8rem;
    }
}
@media(max-width:1040px){
    .preim__content{
        padding: 1.6rem;
    }
    .phone__content{
        font-size: 16px;
    }
    .single-header{
        height: 32rem;
    }
}
@media(max-width:1024px){
    .feature-tab__link:hover{
        color: #fff;
    }
    .index-video__title{
        font-size: 2.4rem;
    }
    .index-video__desc p{
        font-size: 1.6rem;
    }
    .index-video{
        height: calc(100vh - 108px);
    }
    .down-link{
        display: none;
    }
    
    body{
        padding-top: 10.4rem;
    }
    .is-sticky .top-nav{
        top: 100px!important;
    }
    .sales-widget{
        .col{
            width: 100%;
            margin-left: 0;
        }
    }
    .sales-item {
    width: 50%;
    opacity: 1;
    border-bottom: none !important;
}
    .sales-widget__items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
    .stick-menu.is_stuck {
        top: 10.4rem !important;
        animation: none;
    }
    .header {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media(max-width:1014px){
    .header{
        display: none;
    }
    .mobile{
        display: block;
    }
    body{
        padding-top: 10.4rem;
    }
    .stick-menu.is_stuck{
        position: static!important;
    }
}
@media(max-width:990px){
    .car-preim__item{
        width: 50%;
    }
    .page-404{
        min-height: inherit;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .page-404__title{
        font-size: 5rem;
    }
    .partner-sub__col{
        width: 25%;
    }
    .card-mobile-nav{
        display: block;
    }
    .feature-tab__link:hover{
        color: #fff;
    }
    .stick{
        position: static;
        top: 0;
    }
    .new-tile_offset{
        margin-bottom: 2rem;
    }
    .full__info{
        transform: translateY(0);
        opacity: 1; 
    }
    
    .sale-map-baloon{
        display: none;
    }
    .sale-map__item{
        display: none;
    }
    .sale-ipad__img{
        display: none;
    }
    .sale{
        background: none!important;
    }
    .sale__video{
        display: none;
    }
    .sale__pic{
        display: block;
    }
    .full-slider .slick-slide{
        padding-left: 0;
        padding-right: 0;
    }
    .video-js .vjs-tech{
        position: relative;
    }
    .my-video-dimensions{
        height: 100%!important;
        width: 100%!important;
    }
    .index-video__mobile{
        img{
            width: 100%;
        }
        display: block;
        width: 100%;
    }
    .index-video__bg{
        display: none;
    }
    .index-video{
        .wrapper_default{
            padding-left: 0;
            padding-right: 0;
        }
        background:linear-gradient(to bottom, #0F3599 70%, #fff 30%) !important;
    }
    
    .circle-arrow__line{
        display: none;
    }
    
    body{
        font-size: 1.6rem;
    }
    .car-preim__item_offset{
        margin-bottom: 1.8rem;
    }
    .car-preim__ico{
        margin-right: 1.4rem;
        width: 4rem;
        height: 4rem;
    }
    .car-preim__img{
        margin-bottom: 1.8rem;
    }
    .unusual{
        max-height: inherit;
    }
    .unusual-aside{
        display: block;
    }
    .mass-item_large{
        padding: 1.8rem;
    }
    .mass-item_large{
        height: 36rem;
    }
    .unusual-aside_cat{
        margin-bottom: 1.8rem;
    }
    .unusual__img{
        display: none;
    }
    .video-widget{
        height: auto;
        .play-circle_r-offset{
            margin-right: auto;
        }
    }
    .unusual-aside__pic_offset{
        margin-bottom: 2rem;
    }
    .history-link{
        margin-bottom: 1.2rem;
    }
    .timeline__item_offset{
        margin-bottom: 2rem;
    }
    .sticky-time{
        display: none;
    }
    .timeline__static-year{
        display: block;
    }
    .partner-tile__content{
        padding-left: 1.4rem;
    }
    .baner_imagered img{
        height: 105%;
        width: 105%;
    }
    .sale-item{
        padding: 2rem;
        height: 35rem;
    }
    .new-slider-wrapper .work-arrow{
       stroke: #fff!important;
    }
    .circular-chart{
        display: none;
    }
    .new-slider-wrapper .work-left{
        
        left: 1rem;
    }
    .new-slider-wrapper .work-right{
        right: 1rem;
    }
    .slider_margin .slick-slide{
        margin: 0 4px;
    }
    .slider_margin .slick-list{
        margin-left: -8px;
        margin-right: -8px;
    }
    .news-tile_m-offset{
        margin-bottom: 2rem;
    }
    .news-tile_offset{
        margin-bottom: 2rem;
    }
    .new-tile__date.title_large{
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .news-tile__title{
        font-size: 1.6rem;
    }
    .service-tile__title{
        font-size: 1.8rem;
    }
    .service-tile__desc{
        max-width: inherit;
        font-size: 1.4rem;
    }
    .circle-arrow{
        width: 5rem;
        height: 5rem;
    }
    .service-tile{
        padding: 2rem 1.6rem 2rem;
    }
    .detail-tile_half{
        width: calc(50% - 15px);
    }
    .detail-tile-row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .detail-tile_big {
    height: 35rem;
}
    .detail-tile{
            background-position: center;
    }
    .tab-widget__scroll{
        background: #f3f5fa;
    }
    .feature-tab__link.active:before{
        display: none;
    }
    .feature-tab__nav{
        background: none;
    }
    .feature-tab__link{
        flex-shrink: 0;
        white-space: nowrap;
    }
    .tab-widget__scroll{
        overflow-x: auto;
    }
    .top-nav_w-controls .sub-menu__link{
        flex: 1;
        text-align: center;
    }
    .sub-menu__controls{
        display: none;
    }
    .preview__top{
        height: auto;
        padding-bottom: 0rem;
    }
    .preview-char__items{
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
        margin-bottom: 1.6rem;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
        width: 100%;
    }
    .preview-char__title{
        width: 100%;
        text-align: center;
        margin-bottom: 1.6rem;
    }
    .preview-char{
        padding-bottom: 2.4rem;
        flex-wrap: wrap;
        position: static;
    }
    .card-preview__item{
        width: 100%;
    }
    .preview__nav{
        display: none;
    }
    .tile-imagered__pic{
        opacity: .7;
    }
    .sales-widget .col{
        flex-wrap: wrap;
        padding-left: 15px;
        width: 100%;
        padding-right: 15px;
    }
    .tile-imagered{
        margin-bottom: 2.8rem;
    }
    .regions__item{
        margin-bottom: 2.8rem;
    }
    .sales-item{
        width: 50%;
        opacity: 1;
        border-bottom: none!important;
    }
    .sales-widget__items{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .sales-map{
            max-width: calc(100% - 120px);
        margin-left: auto;
        margin-right: auto;
    }
    .sales.sales-widget{
        .row{
            flex-wrap: wrap;
        }
    }
    .single_offset{
        margin-top: 3rem;
    }
    .contacts-map{
        height: 32rem;
        margin-bottom: 2rem;
    }
    .sert{
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .partners__lined{
         margin-left: -1.5rem;
        margin-right: -1.5rem;
        .partners__col{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            
        }
        
    }
    .partners__lined{
        .partners__col{
            width: 33.3%;
        }
        flex-wrap: wrap;
    }
    .num-item__number{
        font-size: 3rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .num-item{
        &:last-child{
            margin-bottom: 0;
        }
        margin-bottom: 1.8rem;
        width: 100%;
        max-width: 100%;
    }
    .num-list{
        flex-wrap: wrap;
    }
    .section_default{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .single__title{
        font-size: 4.6rem;
    }
    .js-size-m{
        font-size: 3.4rem;
    }
    .circular-chart{
        top: -5px;
        height: 6.8rem;
        width: 6.8rem;
    }
    .work-widget__arrow{
        height: 6rem;
        width: 6rem;
    }
     .search-more{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .num-item__download{
        opacity: 1;
        pointer-events: all;
        transform: none;
    }
    .process{
       height: calc(84vh - 14.7rem); 
    }
    .search__row{
        padding-left: 0;
        padding-right: 0;
    }
   .search_wrapper .search__small{
        padding-left: 0;
        padding-right: 0;
    }
    .search__input{
        height: 4.9rem;
    }
    .search__submit{
        height: 4.9rem;
        width: 4.9rem;
    }
    .logo__footer{
        margin-bottom: .8rem;
    }
    .contacts__nav_offset{
        margin-bottom: 1.8rem;
    }
    .contacts__desc_offset{
        margin-bottom: 1.8rem;
    }
    .contacts__nav{
        flex-wrap: wrap;
    }
    .footer__links {
        padding-top: 2.4rem;
    }
    .footer__contacts{
        margin-top: 2.4rem;
    }
    .footer__title{
        margin-bottom: 0;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        font-size: 1.6rem;
       
        border-bottom: 1px solid $border;
        padding-right: 3rem;
        position: relative;
    }
    .footer-title__arrow{
        display: block;
    }
    .footer-up{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer-nav__link{
        margin-right: 2.4rem;
    }
    .logo__footer{
        width: 100%;
        max-width: 100%;
    }
    .secton_default{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .secton_b-small{
         padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .footer__phone{
        margin-right: 1.6rem;
        font-size: 2.4rem;
    }
    .footer__col{
        padding-right: 0;
        margin-bottom: 0;
    }
    .preim__ico{
        margin-right: 1.6rem;
        margin-bottom: 0;
    }
    .footer__soc{
        margin-top: 1.2rem;
        .soc__ico{
            margin-left: 0;
            margin-right: 1.2rem;
        }
        width: 100%;
    }
    .footer-links{
        display: none;
    }
    .footer-nav{
        overflow: auto;
    }
    .footer-nav__link{
        flex-shrink: 0;
    }
    .preims{
        flex-wrap: wrap;
    }
    .preim__title{
        margin-bottom: .4rem;
    }
    h2, .h2{
        font-size: 3.2rem;
    }
    .preim_line{
        width: 100%;
    }
    .preim__content{
        padding:1.8rem;
    }
    .preim__content{
        display: flex;
        align-items: center;
    }
    .preim{
        margin-bottom: .4rem;
    }
    .feedback{
        &:before{
            content: '';
            background: linear-gradient(to bottom, rgba(0,0,0,.15),rgba(255,255,255,0));
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
        background-image: none;
        background: #0B578D;
    }
    .full{
        padding-bottom: 2rem;
    }
    .feedback__content{
        position: relative;
    }
    .section__title{
        margin-bottom: 1.2rem;
    }
    .new-tile__date{
        font-size: 1.4rem;
    }
    .news{
        .row{
            padding-left: .0em;
            padding-right: 0rem;
             display: flex;
            margin-left: 0;
            margin-right: 0;
            flex-wrap: nowrap;
            overflow: auto;
        }
        .new-tile{
            flex-shrink: 0;
            width: 90vw;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            max-width: 45rem;
        }
        .col{
            &:first-child .new-tile{
                margin-left: 0;
            }
            &:last-child .new-tile{
                margin-right: 0;
            }
            padding-left: 0!important;
            padding-right: 0!important;
            display: inline-flex;
            align-items: flex-start;
            flex: none;
        }
    }
    .sale__arrow-link{
        display: none;
    }
    .sale__mobile{
        display: flex;
        align-items: flex-end;
    }
    .sale_shadow:before{
        display: none;
    }
    .sale__title{
        color: $black;
    }
    .sale__title{
        margin-bottom: 0;
        font-size: 2.2rem;
    }
    
    .sales{
        padding-left: 8px;
        padding-right: 8px;
        .row{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }
        .col{
            padding-left: 0;
            padding-right: 0;
            display: inline-flex;
            align-items: flex-start;
            flex: none;
        }
    }
    .secton_t-small{
        padding-top: 2rem;
    }
    .sale{
        
        flex-shrink: 0;
        margin-left: 8px;
        margin-right: 8px;
        height: auto;
        width: 300px;
        max-width: 72vw;
        padding: 0;
        background-image: none!important;
    }
    .sale_shadow{
        color: $black;
    }
    h4, .h4{
        font-size: 1.8rem;
    }
    .car-article__sticker{
        top: 1.4rem;
    }
    .title_large{
        font-size: 1.6rem;
    }
    .index-video__content{
        .btn_box{
            display: none;
        }
        position: static;
    }
    .index-video{
        background: linear-gradient(to bottom, #0B578D 70%, #fff 30%);
        padding:2.4rem 1.5rem ;
        flex-wrap: wrap;
        height: auto;
    }
    .index-video__bg{
        order: 3;
        position: static;
    }
    .play-widget__content{
        display: none;
    }
    .index-video:before{
        display: none;
    }
    .down-link{
        display: none;
    }
    .video__slider-widget{
        display: none;
    }
    .play-widget{
        position: absolute;
        bottom: 4.6rem;
        right: 3.8rem;
    }
    .index-video__bg{
        
        min-width: inherit;
        max-width: 100%;
        min-height: inherit;
        
    }
    .index-video__desc{
        opacity: .6;
    }
    .play-circle_r-offset{
        margin-right: 0;
    }
    .sale__cat.sale__cat_white{
        color: $black;
    }
    .sale__cat{
        opacity: .3;
    }
    .sales .col:first-child .sale{
        margin-left: 0;
    }
    .secton_t-small{
        padding-bottom: 4.8rem;
    }
    .about-widget__content .paragraph{
        position: relative;
        &:after{
            content: '';
            width: 100%;
            height: 17rem;
            background: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .2s ease;
        }
    }
    .toggler.active{
         .paragraph{
            &:after{
                opacity: 0;
            }
        }
    }
    .about-widget__title{
        font-size:2.2rem ;
    }
    .about-widget{
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    .preim__title{
        font-weight: 600;
        font-size: 2rem;
    }
     .contacts__desc{
        font-size: 1.8rem;
    }
    .footer{
        .language {
            margin-bottom: 1.8rem;
        }
    }
    .copy{
        font-size: 1.8rem;
        flex-wrap: wrap;
    }
    .copy__title{
      
        margin-right: 1.6rem;
    }
    .feedback-form{
        flex-wrap: wrap;
    }
    .car-article__sticker{
        display: none;
    }
    .feedback{
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
    }
    .footer-links{
        padding-top: 1.8rem;
    }
    .inline-popup .fancybox-button {
        width: 5.6rem;
        height: 5.6rem;
        right: 0!important;
        top: 0!important;
        color: #000!important;
    }
    
    
    .partners-nav__item{
        height: 9rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .our-partners__item{
        height: 35rem;
    }
    .people-tile__desc{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .people-tile__job{
        font-size: 1.3rem;
    }
    .people-tile__title{
        font-size:1.4rem;
    }
}
@media(max-width:768px){
    .timeline__title{
        font-size: 2.4rem;
    }
    .top-nav__content{
        .window-menu__spec{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .window-menu__title{
            font-size: 1.2rem;
            max-width: 12.3rem;
        }
    }
    .mp-history__text p:not(.incut){
        margin-top:0rem;
        margin-bottom: 0;
    }
    .mp-history__item{
        margin-bottom: 3rem;
    }
}
@media(max-width:760px){
    .slider-progress{
       position: absolute;
        top: 0;
        left: 0;
    }
    .history-link:before{
        display: block;
    }
    .partners-nav__pic{
        max-height: 100%;
    }
    .mobile__callback{
        display: none;
    }
    .mobile__callback_m{
        display: block;
    }
    .loop-ico{
        width: 2.0rem;
        height: 2.0rem;
    }
    .mass-item_medium{
        height: auto;
        min-height: 29.3rem;
        padding: 2rem;
    }
    .full-preim{
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            left: 0;
        }
        position: relative;
        height: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .full-preim__ico{
        width: 5rem;
        height: 5rem;
        margin-bottom: 0;
    }
    .full-preim__title{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.6rem;
        text-align: left;
    }
    .full-preim__item{

        margin-bottom: .8rem;
        display: flex;
        align-items: center;
    }
    .card-preim__content{
        text-align: left;
        padding-left: 1.4rem;
    }
    .card-preim__desc{
        text-align: left;
    }
    .card-preim__item{
        max-width: 100%;
        text-align: left;
        display: flex;
        align-items: flex-start;
    }
    .timeline__static-year{
        font-size: 7rem;
    }
    .people-tile__img{
        img{width: 100%;}
    }
    .people-tile__title{
        font-size: 1.8rem;
    }
    .partners-nav__item{
        height: 5rem;
        padding-top: 5px;
        padding-bottom: 5px;
        pointer-events: none;
    }
    .h2.partners-nav__title{
        font-size: 2rem;
    }
    .sale-item{
        height: 24rem;
    }
    .pagination__link{
        display: none;
    }
    .pagination__items{
        justify-content: center;
    }
    .service-tile__content{
        padding-right: 0;
    }
    .circle-arrow{
        display: none;
    }
    .box .wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .box_offset{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .small-baner__title{
        font-size: 1.8rem;
    }
    .small-baner__content{
        padding: 1.2rem;
    }
    .numb-preim__title{
        font-size: 4rem;
    }
    .numb-preim{
        text-align: center;
    }
    .blue-widget{
        padding: 2rem 1.2rem;
    }
    .numb-preim__desc{
        font-size: 1.2rem;
    }
    .leasing-box_offset{
        margin-top: 2.8rem;
        margin-bottom: 2rem; 
    }
    .blue-widget_mw{
        width: 100%;
        margin-bottom: 1.2rem;
    }
    .blue-widget_sb{
        flex-wrap: wrap;
    }
    .detail-tile_offset{
        margin-bottom: 2rem;
    }
    .detail-tile-row{
        flex-wrap: wrap;
    }
    .detail-tile_half{
        width: 100%;
    }
    .detail-tile_big{
        background-position: center 36%;
    }
    .paragraph blockquote{
        padding:2rem 1.8rem ;
    }
    .faq-item__close{
        width: 2rem;
        height: 2rem;
        top: 1.8rem;
    }
    .faq-item__header{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .faq-item__close:before{
        width: 1.4rem;
    }
    .faq-item__close:after{
        height: 1.4rem;
    }
    .toggler__content.faq-item__content{
        padding-left: 2rem;
        padding-right: 1.5rem;
    }
    .faq-item__numb{
        margin-right: 0;
    }
    
    .faq-item__header{
        align-items: flex-start;
        font-size: 1.8rem;
    }
    .section_default {
        margin-top: 2rem;
        margin-bottom: 6.4rem;
    }
    .h2{
        font-size: 2.8rem;
    }
    .sales-item{
        width: 100%;
    }
    .sales-map{
        max-width: 100%;
    }
    .map-baloon.active .map-baloon__center:after{
        display: none;
    }
    
    .sale-dilers__item_offset{
        margin-bottom: 2.8rem;
    }
    .numb-preim{
        margin-bottom: 1.2rem;
    }
    .sert p{
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        
    }
    .box-imagered_offset{
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
    .sert{
        margin-top: 2rem;
        
        width: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .sert__img{
        padding-right: 3rem;
    }
    .process{
        background-position: right;
        height: 30rem;
    }
    .work-widget__arrow{
        width: 4rem;
        height: 4rem;
    }
    .circular-chart{
        width: 4.8rem;
        height: 4.8rem;
    }
    .single__title{
        font-size: 2.8rem;
    }
    .process__title{
        font-size: 2.4rem;
    }
    .work-arrow{
        height: 1.4rem;
    }
    .process__content .wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .process__content{
        padding:1.8rem 1.5rem 1.8rem;
    }
    .compare{
        display: none;
    }
    .city-select__link{
        font-size: 1.6rem;
    }
    .single-header{
        height: auto;
        padding-top:3.2rem;
        padding-bottom:3.2rem;
        min-height: inherit;
    }
    .popup__title{
        font-size: 2.8rem;
    }
    .city-select__link{
        margin-bottom: .8rem;
    }
    .city-select__input{
        height: 4.9rem;
    }
    .copy__title{
        width: 100%;
        margin-bottom: .8rem;
        margin-right: 1.6rem;
    }
    
    .news .new-tile{
       width: 72vw; 
    }
    .full{
        display: flex;
        flex-wrap: wrap;
    }
    h3, .h3{
        font-weight: 600;
        font-size: 2.2rem;
    }
    .full-slider{
        font-size: 0;
        width: 100%;
    }
    .full__desc{
        font-size: 1.4rem;
    }
    .full-widget-nav__header{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        padding:2rem 1.5rem;
        color: #fff;
    }
    .full-nav{
        display: none;
    }
    .full-widget{
        padding: 1.4rem 0rem;
        max-width: 100%;
    }
     .full__info{
         order: 3;
        position: relative;
         top: 0;
         left: 0;
    }
    .full-line{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .full-slider__item{
        height: auto;
        min-height: 40rem;
    }
    .car-article_offset{
        margin-bottom: .8rem;
    }
    .car-article__sticker{
        display: none;
    }
    .secton_default{
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    
    .car-article__header{
        padding-right: 0;
    }
    .row{
        .col{
            padding-left: .4rem;
            padding-right: .4rem;
        }
        margin-left: -.4rem;
        margin-right: -.4rem;
    }
    .sales .col{
        padding-left: 0;
        padding-right: 0;
    }
    
    .car-article__item{
        font-weight: 600;
        margin-bottom: 0;
    }
    .more-widget__link{
        font-size: 1.4rem;
    }
    .car-article__desc{
        display: none;
    }
    .car-article__city {
        display: none;
    }
    .play-circle{
        width: 5.6rem;
        height: 5.6rem;
    }
    .index-video__desc{
        margin-bottom: 2.4rem;
    }
    .index-video__desc p{
        font-size: 1.4rem;
    }
    .index-video__tit.mobile-line__link:not(:last-child)le{
        font-size: 2.2rem;
    }
    .full__desc{
        min-height: inherit;
    }
    
    .feedback-form__input{
        font-size: 1.8rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        width: 100%;
        max-width: 70vw;
        margin-bottom: 1.2rem;
        flex: none;
        height: 4.8rem;
    
    }
    .input_default{
        height: 4.9rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .btn_box{
        padding: 1.8rem 2.6rem;
        font-size: 1.2rem;
    }
}
@media(min-width:990px){
    .mobile__section{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
         .footer__col{
            width: 50%;
        }
        .footer__col{
            margin-bottom: 1rem;
        }
    }
   
}
@media(max-width:720px){
    .partner-sub__item_offset{
        margin-top: 1.8rem;
    }
    .partner-sub__col{
        width: 50%;
        padding-left: .8rem;
        padding-right: .8rem;
    }
    .partner-sub{
        margin-left: -.8rem;
        margin-right: -.8rem;
    }
    .partner-sub__item img{
        width: 100%;
    }
}
@media(max-width:700px){
    .mobile-line-wrapper:after{
        opacity: 1;
    }
}
@media(max-width:650px){
    .top-nav_m-hide{
        display: none;
    }
    .partner-tile{
        flex-wrap: wrap;
    }
    .partner-tile__img{
        width: 100%;
        height: 20rem;
        margin-bottom: 1.8rem;
    }
    .geography {
    padding: 3rem 0;
}
    .box-imagered__content{
        padding: 3.4rem 1.8rem;
    }
    .box-imagered{
        min-height: 20rem;
    }
    .box-imagered__numb{
        font-size: 5rem;
    }
}
@media(max-width:600px){
    .car-preim__items{
        padding-top: 1rem;
    }
    .car-preim__item{
        width: 100%;
    }
    body{
       padding-top: 10.4rem;
    }
   
    .map-baloon__popover{
        left: 45px;
        top: -8px;
        height: 20px;
        border-radius: 20px 20px 20px 0;
    }
    .map-baloon__center{
        width: 3rem;
        height: 3rem;
    }
    .tile-imagered__content {
        .tile-imagered__title,p{
            position: relative;
            z-index: 3;
        }
        
    }
    .map-baloon:nth-child(3) .map-baloon__popover{
        top: -20px;
    left: 29px;
    }
    .map-baloon:nth-child(1) .map-baloon__popover{
       top: 4px;
        left: 36px;
    }
    .map-baloon:nth-child(2) .map-baloon__popover{
       left: 32px;
        top: -12px;
    }
    .map-baloon:nth-child(4) .map-baloon__popover{
      top: 34px;
    left: 25px;
    }
    .tile-imagered__pic_man{
        display: none;
    }
    .index-video{
        padding-top: 2rem;
    }
    .feature-tab__link{
        height: 5rem;
    }
    .btns_center{
        .btn_box{
            width: 50%;
            padding: 1.8rem 1rem;
            margin-right: 0;
            font-size: 1rem;
            text-align: center;
        }
        flex-wrap: nowrap;
    }
    .char-item__title{
        font-size: 1.8rem;
    }
    .char-item__desc{
        font-size: 1.4rem;
    }
    .preview-char__items{
        padding-left: 0;
        padding-right: 0;
        
    }
    .char-item_offset{

        margin-left: 1.4rem;
        margin-right: 1.4rem;
    }
    .sert__img{
        padding-right: 0;
    }
    .sert{
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
    .partners__item_offset{
        margin-bottom: 1.6rem;
    }
    .partners__lined{
         margin-left: -.8rem;
        margin-right: -.8rem;
        .partners__col{
            padding-left: .8rem;
        padding-right: .8rem;
            width: 50%;
        }
        
    }
    .popup__phone{
        margin-bottom: 1.6rem;
    }
    #callback{
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        width: 100%;
    }
    .popup__soc{
        width: 100%;
    }
    .popup__contacts{
        flex-wrap: wrap;
    }
    .feedback__title {
        max-width: 30rem;   
    }
    .feedback-form{
        flex-wrap: wrap;
    }
    .city-select__controls{
        flex-wrap: wrap;
    }
    .city-select__input{
        margin-right: 0;
        margin-bottom: .8rem;
    }
    .popup.popup_small{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .sale__mobile{
        height: 25rem;
    }
    .full-slider__item{
        min-height: 25rem;
    }
}
@media(max-width:500px){
    .feature-table .table__td{
        padding: 1.0rem 1.0rem;
        font-size: 1.4rem;
    }
    .tile-gallery__other{
        width: 100%;
    }
    .tile-gallery__item_big{
        width: 100%;
    }
    .tile-gallery{
        flex-wrap: wrap;
    }
    .feature-desc{
        font-size: 1.8rem;
    }
    .preview-price{
        justify-content: flex-start;
        width: 100%;
    }
    .preview-char__items{
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
    }
    .preview-arrow.arrow-right-ico{
        margin-left: 1rem;
    }
    .char-item{
        margin-bottom: 1rem;
        text-align: left;
       
        margin-left: 0;
        margin-right: 0;
    }
    .preview-char__title{
        text-align: left;
    }
}
@media(max-width:470px){
    .index-video__title{
        font-size: 2.2rem;
    }
}
@media(max-width:370px){
    .char-item__desc{
        font-size: 12px;
    }
}