.partner-tile__img {
    display: inline-flex;
    width: 20rem;
    flex-shrink: 0;
    height: 12rem;
    align-items: center;
    justify-content: center;
}
.partner-tile{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid $border;
    display: flex;
    align-items: flex-start;
}
.partner-tile__content{
    padding-left: 4rem;
}
.partner-sub{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -2rem;
    margin-right: -2rem;
}
.partner-sub__col{
    padding-left: 2rem;
    padding-right: 2rem;
}
.partner-sub__item{
    display: block;
}
.partner-sub__item_offset{
    margin-top: 3.2rem;
}
.our-partners__widget{
    position: relative;
}
.our-partners__item{
    height: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.partners-nav__title{
    max-width: 82rem;
    margin-left: auto;
    margin-right: auto;
}
.partners-nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    padding-bottom: 8rem;
    z-index: 6;
}
.partners-nav__col{
    width:16.6%;
}

.partners-nav__item{
    &.active{
        .partners-nav__color{
            opacity: 1;
        }
        background: rgba(255,255,255,0);
    }
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 24, 26, .4);
    height: 12rem;
    transition: all .3s ease;
}
.partners-nav__color{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease;
}
.partners-nav__pic{
    position: relative;
}
.partners-nav__col{
    padding-left: 6px;
    padding-right: 6px;
}
.partners-nav__items{
    display: flex;
    align-items: flex-start;
    margin-left: -6px;
    margin-right:-6px;
}