.work-slider__item{
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(23, 24, 26,.4);
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease .5s;
        
    }
    position: relative;
}
.fancybox-container.video-layer{
    z-index: 99999999999;
}

.prod-tile__img{
    overflow: hidden;
}
.stick-menu .window-menu__spec{
    display: block;
    text-align: center;
}
.spec-window .window-menu__link{
    margin-bottom: 0;
}
.prod-tile__pic{
    transform: scale(1.1);
    transition: transform .4s cubic-bezier(.4,0,0,1);
}
.prod-tile:hover .prod-tile__pic{
    transform: scale(1);
}
.faq-item:hover{
    .faq-item__close:before{
        background: $blue;
    }
    .faq-item__close:after{
        background: $blue;
    }
}
.preview__top{
    max-height: 920px;
}
.delivery-tile__img{
    overflow: hidden;
}
.delivery-tile__title {
    transition: all .2s ease;
}
.delivery-tile__pic{
   
    transition: transform .4s cubic-bezier(.4,0,0,1);
}
.prod-tile:hover .prod-tile__desc{
    color: $blue;
}
.sale-dilers__mail:hover{
    text-decoration: underline;
}
.contacts-tile__mail:hover{
    text-decoration: underline;
}
.fileuploader{
    background: rgba(255,255,255,0);
}
.doc-company:hover{
    .doc-company__title{
        color: $blue;
    }
}
.doc-company__title{
    transition: all .2s ease;
}
.doc-pdf:hover{
    .doc-pdf__title{
        color: $blue;
    }
}
.politic:hover{
    a{
        text-decoration: none;
    }
}
.footer__title.active{
    .footer-title__arrow{
        transform: scale(-1);
    }
}
.sticker__ico{
    cursor: pointer;
}
.vector-arrow-ico{
    transition: all .2s ease;
}
.preview-link_prev:hover{
    .vector-arrow-ico{
        transform: translateX(-1rem);
    }
}
.preview-link_next:hover{
    .vector-arrow-ico{
        transform: translateX(1rem);
    }
}
.feature-tab__link{
    &:hover{
        color: $blue;
    }
    transition: all .2s ease;
}
.doc-pdf__title{
    transition: all .2s ease;
}
.prod-tile__desc{
    transition: all .2s ease;
}
.car-article__title{
    &:hover{
        color: $blue;
    }
    transition: all .2s ease;
}
.car-article__img{
    &:hover{
        img{
            transform: scale(1);
        }
    }
    overflow: hidden;
}
.visible .slick-slide{
    padding: 0!important;
}
.full-slider .slick-slide{
    transition: all .6s ease .1s;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}
.visible .full__info{
    opacity: 1;
    transform: translateY(0);
}
.slider-progress {
  width: 100%;
  height: 3px;
  background: #eee;
}
.slider-progress .progress {
  width: 0%;
  height: 3px;
  background: $orange;
}
.sale__video{
    opacity: 0;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    object-fit: cover;
    transition: all .2s ease;
}
.sale:hover{
    .sale__video{
        opacity: 1;
    }
}
.new-tile__title{
    display: inline;
    border-bottom: 1px solid rgba(255,255,255,0);
    transition: all .2s ease;
}
.new-tile__title:hover{
    display: inline;
    color: $blue;
    border-bottom: 1px solid rgba(15, 53, 153, .3);
}
.sale_shadow:before{
    z-index: 1;
}
.full__info{
    transform: translateY(50%);
    opacity: 0;
    transition: all .6s ease 1s;
}
.more-widget__link{
    &:hover{
        color: $blue;
        &:before{
            width: 100%;
        }
    }
    &:before{
      
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    display: block;
    width: 9.6rem;
    height: 2px;
    margin: auto;
    content: '';
    background: #0f3599;
    transition: all .2s ease;
    }
    transition: all .2s ease;
    position: relative;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}
.more-widget{
    padding: 0;
}
.more-widget:before{
    display: none;
}
.service-tile:hover{
    .circle-arrow__line{
        stroke-dashoffset: 0;
    }
}
.circle-arrow__line{
    position: absolute;
    top: -6px;
    left: 0;
    stroke:$blue;
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    transform: rotate(-90deg);
    transition: all 2s ease;
}
.car-article:hover{
    .car-article__title{
        color: $blue;
    }
}
.car-article__img img{
    transform: scale(1.1);
    transition: transform .4s cubic-bezier(.4,0,0,1);
}
.news-tile__title{
        transition: all .2s ease;
}
.header-index .header-nav__item:not(.spec-js):hover a{
    color: #fff;
    opacity: .7;
}
.news-tile{
    &:hover{
        .news-tile__pic{
            transform: scale(1);
        } 
        .news-tile__title{
            color: $blue;
        }
    }
}
.overlayer{
    &.active{
        opacity: 0.4;
    }
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #03162C;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}
.header-nav__link{
    &:hover{
        color: $blue;
    }
    transition: all .2s ease;
}
.header-btn{
    &:hover{
        .header-btn__line{
            background: $blue;
        }
    }
}
.page-404__desc a:hover{
    text-decoration: none;
}
.iconed__ico_reverce{
    transition: all .2s ease;
}
.loop-ico{
      transition: all .2s ease;
    }
.search__btn:hover{
    .loop-ico{
        fill:$blue!important;
    }
}
.phone__content a{
    &:hover{
        color: $blue;
    }
    transition: all .2s ease;
}
.top-nav__link:hover{
    .arrow-slim{
        transform: translateX(1rem) ;
    }
    .iconed__ico_reverce{
        transform: translateX(-1rem) scale(-1);
    }   
}
.news-tile__img{
    
    
    display: block;
    overflow: hidden;
    font-size: 0;
}
.news-tile__pic{
    transform: scale(1.1);
    transition: transform .4s cubic-bezier(.4,0,0,1);
}
.gallery-item{
    &:hover{
        img{
            transform: scale(1);
        }
    }
    overflow: hidden;
    font-size: 0;
    img{
      transform: scale(1.1);
    transition: transform .4s cubic-bezier(.4,0,0,1);  
    }
}
.top-nav__content{
    overflow: auto;
}
.pagination__link{
    transition: all .2s ease;
}
.alone-img img{
    width: 100%;
}
.top-nav__content:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 100%;
    content: '';
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f4f4f4 85%);
}
.pagination__link:hover{
    opacity: .7;
}
.leasing-box a:hover{
    text-decoration: underline;
}
.pagination__item{
    transition: all .2s ease;
}
.pagination__item:hover{
    color: $blue;
}
#video.fancybox-content{
    .fancybox-button svg{
        color: #fff;
    }
    background: rgba(255,255,255,0);
}
.slick-current .work-slider__item:before{
    opacity: 0;
}
.top-nav_w-controls{
    .mCustomScrollBox:after{
        display: none;
    }
}
.long-slider__img{
    background-size: cover;
}
.sub-menu__content{
    .mCSB_container{
        display: flex;
        margin-bottom: 0!important;
    }
    .mCSB_draggerContainer{
        opacity: 0;
        pointer-events: none;
    }
    .sub-menu__link:last-child{
       
        position: relative;
        z-index: 4;
    }
    &.mCS_no_scrollbar_x .sub-menu__link:last-child{
        margin-right: 0;
    }
    .sub-menu__content .mCSB_container{
        
    }
    .mCustomScrollBox{
        width: 100%;
        &:after{
            content: '';
            height: 100%;
            background: linear-gradient(to right,rgba(255,255,255,0),#fff);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 3;
            width: 20px;
        }
    }
}
.section_mw,.cars,.news,.feedback,.about-widget,.feature,.card-desc,.car-preim{
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}
.card-gen__pic{
    padding-left: 15px;
    padding-right: 15px;
}
.card{
    .sub-menu__content .mCSB_container{
        justify-content: flex-start;
    }
}
.header-btn{
    &.trigger-close{
        .header-btn__line:nth-child(1){
            transform: rotate(45deg);
            top: 22px;
        }
        .header-btn__line:nth-child(2){
            transform: rotate(-45deg);
            top: 22px;
        }
    }
}
.sale{
    overflow: hidden;
    position: relative;
}
.sale-map-baloon{
    position: absolute;
    right: 7%;
    bottom: 5%;
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background: rgba(15, 53, 153,.1);
    border: 1px solid $blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s cubic-bezier(.4,0,0,1); 
}
.sale-map:hover{
    .sale-map__item{
        transform: scale(1);
    }
    .sale-map-baloon{
        width: 22.4rem;
        height: 22.4rem;
    }
}
.sale-map-baloon__ico{
    width: 9.6rem;
    height: 9.6rem;
}
.sale-ipad{
    &:hover{
        .sale-ipad__img{
            transform: translateX(0rem);
        }
    }
}
.sale-ipad__img{
    font-size: 0;
    position: absolute;
    right: 0;
    transform: translateX(4rem);
    bottom: 0;
    transition: all .4s cubic-bezier(.4,0,0,1); 
}
.sale-map__item{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background-position:right center;
    background-repeat: no-repeat;
    background-size: cover;
     transition: transform .4s cubic-bezier(.4,0,0,1); 
}
.sales{
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}
.partners__item{
    padding-left: 15px;
    padding-right: 15px;
}
.sub-menu__content_center{
    .mCSB_container{
        justify-content: center;
    }
}
.page-404__link{
    &:hover{
        color: #2957d0;
    }
    transition: all .2s ease;
    display: inline;
    border-bottom: 1px solid currentColor;
}
.partner-sub__col{
    width: 16%;
}
.top-nav__content .window-menu__spec{
    margin-bottom: 0;
}
.sub-menu__controls{
    z-index: 4;
}
.tile-imagered p{
    position:relative;
    z-index: 3;
}
.tile-imagered .tile-imagered__title{
    font-size: 3.2rem;
    position: relative;
     z-index: 3;
}
.tile-imagered__pic__centered{
    top: 0;
    margin: auto;
}
.sale-map{
    &:hover{
        background-size: 100% 100%;
    }
    background-position: center;
    background-size: 115% 115%;
    transition: all .4s cubic-bezier(.4,0,0,1); 
}
.is-sticky .top-nav{
    z-index: 9!important;
    background: #fff;
}
.car-preim__pic{
    width: 100%;
}
.my-video-dimensions{
    max-width: 80vw;
}
.index-map_edited{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.btn_blue{
    background: #0f3599;
    color: #fff;
}
.card-mobile-nav{
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0;
    width: 100%;
}
.stick{
    position: sticky;
    top:15rem;
}
 .play-circle{
     &:hover{
       transform: scale(1.3);
    }
            
        }
.video-popup__link{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}
.window-menu__spec:hover{
    svg{
        fill:$blue;
        stroke:$blue;
    }
}
.window-menu__spec{
    margin-right: 0;    
}
.input{
    -webkit-appearance: none;
}
.btn{
   -webkit-appearance: none;
}
.window-menu__ico{
    width: 6.8rem;
    text-align: right;
}
 .window-menu__spec .window-menu__title {
        width: 16.2rem;
    }
.play-circle{
    transition: all .2s ease;
}
.play-widget:hover{
    .play-circle{
        transform: scale(1.2);
    }
}

.preim,.preim__content{
    display: block;
}
.top-nav__content_def{
    overflow: inherit;
}
.tile-imagered__title.vacancy-title{
    font-size: 2.4rem;
}