.prod__title{
    font-size: 6.4rem;
    font-weight: bold;
    display: block;
    margin-bottom:4.8rem;
    line-height: 1;
}
.prod{
    position: relative;
    padding: 7rem 0 0;
}
.prod__img{
    margin-top: 3rem;
    position: relative;
    right: -4.8rem;
    width: 100%;
    height: 64rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.prod__desc{
    padding-left: 8rem;
    max-width: 56.8rem;
}
.prod__content{
    height: 100%;
    position: relative;
}
.production{
    overflow: hidden;
}
.prod__numb{
    display: inline-block;
    pointer-events: none;
    font-size: 24rem;
    position: absolute;
    font-weight: 600;
    color: rgba(0,0,0,.05);
    bottom: 0;
    right: 0;
    line-height: 1;
}
.relatived{
    
}
.no-pointered{
    pointer-events: none;
}
.section_production{
    position: relative;
    height: 100vh;
    padding-top: 12rem;
}
.section-numb{
    font-size: 24rem;
    display: inline-block;
    position: absolute;
    right: 4rem;
    bottom: 12rem;
    color: #000;
    opacity: .05;
    line-height: 1;
    font-weight: 600;
}

.section_relative{
    position: relative;
}
.row_sb{
    justify-content: space-between;
}
.production-slider{
    position: relative;
    
    
    width: 100%;
    z-index: 2;
}
.production-slider img{
    width: 100%;
}

.main_overflow{
    overflow: hidden;
}
.production-slider__item{
    height: 70vh;
}
.production__section{
   
}
.production__title{
    line-height: 1;
}
//#section-wipes{
//    height: 100vh;
//}
//html,body,main{
//    height: 100%;
//}
//.scrollmagic-pin-spacer{
//    height: 100%!important;
//}
//.panel{
//    height: 100%;
//}