.sales-widget__title{
    max-width: 74rem;
}
.sales-map{
    position: relative;
    margin-top: -11rem;
}
.sales-item{
    &.active{
        opacity: 1;
    }
    &:not(:last-child){
        border-bottom: 1px solid $border;
    }
    padding: 2rem 0;
    opacity: .5;
    cursor: pointer;
    transition: all .3s ease;
}
.map-baloon{
    &.active{
        .map-baloon__center:after{
            transform: scale(5);
        }
    }
    width: 0;
    height: 0;
    position: absolute;
    z-index: 4;
}
.unusual__pic{
    width: 100%;
}
.delivery-tile__img{
    font-size: 0;
    margin-bottom: 1.2rem;
}
.delivery-tile__pic{
    width: 100%;
}
.map-baloon__center{
    &:after{
        content: '';
        width: 4rem;
        height: 4rem;
        position: absolute;
        border-radius: 50%;
        display: inline-block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(15, 53, 153,.05);
        transition: all .4s ease;
    }
    &:before{
        content: '';
        width: 8px;
        height: 8px;
        background: $blue;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
    }
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgba(15, 53, 153,.045);
    
}
.map-baloon__popover{
    border-radius: 20px 20px 0px 20px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: -15px;
    left: -74px;
    justify-content: center;
    width: 7.2rem;
    height: 3.6rem;
    background: #232426;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}
.map-baloon__popover{
    width: auto;
        padding-left: 18px;
        padding-right: 18px;
        white-space: nowrap;
}
.map-baloon_r{
    .map-baloon__popover{
        left: 46px;
        
        border-radius:  20px 20px 20px 0px;
    }
}
.map-baloon_b-r{
    .map-baloon__popover{
        left: 46px;
        top: 21px;
        border-radius:  0px 20px 20px 20px;
    }
}
.regions__desc{
    color: $gray-dark;
}
.buy-preim__title{
    max-width: 89.5rem;
}
.tile-imagered__pic_l{
    bottom: 0;
    left: 0;
}
.tile-imagered__title.title_b-offset{
    margin-bottom: 1.2rem;
}
.tile-imagered__pic_r-b{
    right: 0;
    bottom: 0;
}
.sale-dilers__phone{
    font-size: 2.4rem;
    font-weight:500;
    display: block;
}
.sale-dilers__item_offset{
    margin-bottom:4.8rem ;
}
.tile-imagered_large{
    height: 32rem;
}
.sale-dilers__title{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom:1.2rem ;
}
.section.section_t-no{
    padding-top: 0;
}
.warning__ico{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6.4rem;
    height: 6.4rem;
    font-size: 2.4rem;
    color: $blue;
    font-weight: 600;
    line-height: 1;
    font-style: normal;
    border-radius: 50%;
    border: 1px solid rgba(15, 53, 153,.2);
    margin-right: 2.4rem;
}
.section.section_b-small{
    margin-bottom: 2.8rem;
}
.warning_middle{
    max-width: 72rem;
}
.warning_offset{
    margin-top: 1rem;
    margin-bottom: 1rem;
}