.single-header{
    height:56rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        opacity: .4;
        left: 0;
        top: 0;
    }
}
.people-tile{
    margin-bottom: 2rem;
}
.people-tile__img{
    display: block;
    font-size: 0;
}
.slick-current .partners-nav__color{
    opacity: 1;
}
.mass_fluid {
    .mass-tile{
        width: 100%;
    }
    .mass-tile__img{
        width: 100%;
    }
}
.news-tile__pic{
    width: 100%;
}
.single__title{
    font-size: 5.6rem;
    margin-bottom: 1.6rem;
}
.js-size-m{
    font-size: 4.2rem;
}
.single__desc{
    color: rgba(255,255,255,.7);
    max-width: 56.7rem;
    margin-left: auto;
    margin-right: auto;
}
.my-video-dimensions{
    max-width: 100%;
}
.top-nav{
    background: #fff;
    z-index: 9;
}
.top-nav__link_blue{
    color: $blue;
    font-weight: 600;
}
.top-nav__content{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav_bordered{
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
}
.top-nav__link{
    padding: 2rem 0;
}
.num-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.num-item{
    max-width: 26.8rem;
}
.download-ico{
    width:2rem;
    height: 1.8rem;
    fill:$blue;
    ;
}
.num-item_offset{
    margin-bottom: 3rem;
}
.num-item__number{
    display: block;
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 1.6rem;
    color: $orange;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid $border;
}
.num-item__desc{
    margin-bottom: 1.2rem;
}
.section_default{
    margin-top: 8rem;
    margin-bottom: 12rem;
}
.stick-menu{
    transition: all .2s ease;
}
@keyframes stick{
    0%{
        top: 0;
    }
    100%{
        top: 8.1rem;
    }
}
.stick-menu.is_stuck{
    animation: stick .2s ease forwards;
    top: 8.1rem!important;
}
.single-header__content{
    position: relative;
}
.process{
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255,255,255,0),rgba(0,0,0,.4));
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    position: relative;
    
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.process__content{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1.5rem 4rem ;
    z-index: 4;
}
.work-slider{
    overflow: hidden;
    .slick-slide {
        margin: 0 20px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -20px;
    }
}

.work-widget__arrow{
    border:1px solid rgba(255,255,255,.2);
    width:8rem;
    height: 8rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.circular-chart {
    position: absolute;
    top: -6px;
    left: -5px;
    display: block;
    width: 88px;
    height: 88px;
}
.circle {
   stroke-dasharray:100;
    stroke: #fff;
    fill: none;
    stroke-width: .6;
    stroke-linecap: round;
}
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
.work-widget{
    position: relative;
}
.work-widget__arrow_left{
    
    left: 0;
    transition: all .2s ease;
    &:hover{
        border-color:#fff;
    }
}
.work-widget__arrow_right{
    
    right: 0;
}
.work-widget__arrows{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-widget__nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 8;
    width: 100%;
}
.num-item:hover{
    .num-item__download{
        opacity: .7;
    }
}
.num-item__download{
    transition: all .2s ease;
}
.work-arrow.work-arrow-right{
    right: -2px;
}
.work-arrow.work-arrow-left{
    left: -5px;
}
.work-arrow{
    fill: none;
    width: 1rem;
    height: 2.2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    stroke:#fff;
}

/*about*/
.sub-menu__content{
    display: flex;
    overflow: auto;
}
.sub-menu__link{
    &:not(:last-child){
        margin-right: 3.6rem;
    }
    &:hover{
         &:before{
            width: 100%;
        }
        opacity: 1;
    }
    &:before{
        content: '';
        width: 0%;
        height: 3px;
        background: $blue;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -1px;
        
        transition: all .2s ease;
        
    }
    position: relative;
    flex-shrink: 0;
    display: inline-block;
    padding: 2.3rem 0 2.5rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: .7;
    transition: all .2s ease;
    &.active{
        &:before{
            
            width: 100%;
        }
        opacity: 1;
    }
}
.box_offset{
    margin-top:4rem;
    margin-bottom: 4rem;
}
.numb-preim{
    max-width: 20rem;
}
.numb-preim__title{
    display: block;
    font-size: 8rem;
    line-height: 1;
    font-weight:600 ;
    color: $blue;
}
.numb-preim__desc{
    line-height: 1;
}
.process__title_big{
    line-height: 1;
    margin-bottom: 0;
    font-size: 8rem;
}
.process img{
    height: 100%;
    object-fit: cover;
}
.baner_imagered{
    overflow: hidden;
    font-size: 0;
}
.baner_imagered img {
    position: relative;
    left: 0;
    min-width: 100%;
}
.partners{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.partners__item{
    width: 100%;
    height: 12rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.car-work{
    max-height: calc(100vh - 13rem);
}
.prod-tile__pic{
    width: 100%;
}

.partners__col{
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(16.66666666666667%);
}
.partners__item_offset{
    
    margin-bottom: 4rem;
}
.partners{
    margin-left: -2rem;
    margin-right: -2rem;
}

.geography {
    padding: 8rem 0;
}

.geography__desc {
    max-width: 34.5rem;
}

.countires__flag {
    img {
        width: 100%;
    }

    &:nth-child(1) {

        z-index: 5;
    }

    &:nth-child(2) {
        margin-left: -13px;
        z-index: 4;
    }

    &:nth-child(3) {
        margin-left: -13px;
        z-index: 3;
    }

    &:nth-child(4) {
        margin-left: -13px;
        z-index: 2;
    }

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}

.countires__hidden {
    width: 0;
    overflow: hidden;
}
.countires__flags {
    .flags{
        display: inline-flex;
    align-items: center;
    }
    display: flex;
    align-items: center;
}
.countires__flags_offset{
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
}
.countires__desc{
    opacity: .5;
    max-width: 34.5rem;
}
.map-light{
    text-align: right;
}
.countires__btn {
    margin-left: .8rem;
    margin-right: .8rem;
    background-color: #232426;
    padding:1.1rem 2.4rem;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
.geography__aside{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sert{
    width: 18rem;
    margin-left: auto;
}
.box-imagered__content{
    padding: 3.4rem 4.8rem;
    color: #fff;
    display: flex;
    align-items: flex-start;
}
.box-imagered__item{
    width: 13.8rem;
    &:not(:last-child){
        margin-right: 2.4rem;
    }
}
.box-imagered__numb{
    display: block;
    font-size: 8rem;
    font-weight: 600;
    line-height: 1;
}
.box-imagered{
    display: block;
    min-height: 32rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .section_default+.preims-sec{
    padding-top: 0;
}
.box-imagered_offset{
  
}
/*about*/
/*sert*/
.doc-company_offset{
    margin-bottom: 3.2rem;
}
/*sert*/

/*leasing*/
.leasing__pic{
    width: 100%;
    position: relative;
    text-align: center;
    &:before{
        position: absolute;
        right: 0;
        bottom: -20px;
        left: 0;
        width: 14rem;
        height: 1rem;
        margin: auto;
        content: '';
        background: url(../images/brown-shadow.png) no-repeat center;
        background-size: contain;
    }
}
.leasing-big_offset{
    margin-bottom: 2rem;
}
.leasing__img{
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14rem;
    background: #F4F4F4;
}
.leasing__title{
    padding: 1.6rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    text-align: center;
}
.blue-widget_mw{
    max-width: 52rem;
}
.blue-widget_sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leasing-box_offset{
    margin-bottom: 8rem;
    margin-top: 3.8rem;
}
.blue-widget{
    background: $blue;
    color: #fff;
    padding:2.4rem 4rem;
}
.wrapper_nano{
    max-width: 900px;
}
.small-baner{
    position: relative;
}
.small-baner__content_mw{
    max-width: 25.8rem;
}
.small-baner__content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4rem;
}
.gallery-item{
    img{
        width: 100%;
    }
    display: block;
}
.gallery-item_offset{
    margin-bottom: 4rem;
}
/*leasing*/
/*service*/
.service-tile{
    &:hover{
        &:before{
            width: 100%;
        }
    }
    &:before{
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;
        background: $blue;
        transition: all 1.8s ease;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D3DBE2;
    position: relative;
    padding:2rem 5.6rem 3.7rem;
}
.service-tile_offset{
    margin-bottom: 3.2rem;
}
.service-tile__content{
    padding-right: 3rem;
}
.service-tile__desc{
    display: block;
    max-width: 66.4rem;
}
.circle-arrow{
    flex-shrink: 0;
    width: 119px;
    height: 119px;
    border-radius: 50%;
    position: relative;
    border:1px solid $border;
}
.circle-arrow__ico{
    width:2.6rem;
    height: 2.6rem;
    fill:$blue;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*service*/
/*news*/
.news-tile_offset{
    margin-bottom: 4rem;
}
.news-tile__content{
    padding:1.2rem 0;
}
.news-tile__title{
    font-size: 2rem;
}
.top-nav_centered{
    .mCSB_container{
        width: 100%;
        text-align: center;
    }
    .mCustomScrollBox{
        width: 100%;
    }
}

h1.single__title{
    max-width: 1530px;
    margin-left: auto;
    margin-right: auto;
}
.autor__img{
    width:8.5rem;
    height: 8.5rem;
    img{
        border-radius: 50%;
    }
    
    overflow: hidden;
}
.autor__img_offset{
    margin-right: 1.6rem;
}
.autor__title{
    display: block;
    font-size: 2rem;
    margin-bottom: .4rem;
    font-weight: 450;
}
.citate__title{
    display: block;
    margin-bottom: 2rem;
}
.citate{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    border-left: 4px solid $blue;
    line-height: 1.4;
}
.autor{
    display: flex;
    align-items: center;
}
.autor__desc{
    font-size: 1.8rem;
    display: block;
    color: #7D8288;
}
.citate_offset{
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}
.news-slider__item img{
    width: 100%;
}
.slider_margin .slick-slide {
    margin: 0 20px;
}
/* the parent */
.slider_margin .slick-list {
    margin: 0 -20px;
}
.new-slider-wrapper{
    position: relative;
    .work-arrow{
        stroke:$blue!important;
    }
    .work-widget__arrow{
        border-color:$border;
    }
    .work-left{ 
        left: -12rem;
    }
    .work-right{ 
        right: -12rem;
    }
    .circle{
        stroke:$blue;
    }
    .work-widget__arrows{
        position: absolute;
        z-index: 5;
        width: 100%;
        top:50%;
        transform: translateY(-50%);
    }
}
.presents{
    margin-top: 3.2rem;
    border-top: 1px solid $border;
    padding-top:3.2rem ;
}
.process__content p{
    font-size: 1.6rem;
}
/*news*/
/*sales*/
.work-slider__pic{
    width: 100%;
}
.sale-item{
    position: relative;
    padding: 4rem 6.4rem 6.4rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-position:center right;
    background-size: cover;
    height:48rem ;
    color: #fff;
}
.map-light img{
    width: 100%;
}
.process img{
    height: auto;
}
.process{
    max-height: 90vh;
}
.sub-menu__content .mCSB_container{
    justify-content: center;
}
.sale-item__date{
    background: #244CB2;
    position: relative;
    margin-bottom: 3rem;
    width: 13.4rem;
    font-size: 1.8rem;
    padding: 1.2rem 1.6rem;
    display: inline-block;
    
}
.sale-item__content{
    display: block;
    position: relative;
}
.sale-item__title{
    display: block;
    max-width: 58.8rem;
}
.sale-item_offset{
    margin-bottom: 3.2rem;
}
.sale-item_imagered{
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: .3;
        position: absolute;
        display: block;
    }
    .sale-item__date{
        background: #002480;
        color: #fff;
    }
}
.process__desc_mw{
    max-width: 56.8rem;
}
.sale-item__desc{
    display: block;
    max-width: 42.6rem;
}
.section_b-no{
    margin-bottom: 0;
}
/*sales*/
/*people*/
.people-tile__desc{
    padding: 2.4rem 0;
}
.people-tile__job{
    color: rgba(23, 24, 26,.5);
}
/*people*/
/*404*/
.page-404{
    min-height: 600px;
    display: flex;
    align-items: center;
}
.page-404__title{
    line-height: 1;
    font-size: 12rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.page-404__desc{
    max-width: 57.4rem;
}
/*404*/