
.tile-imagered__title{
    display: block;
    font-size: 2.4rem;
    line-height: 1.0;
    font-weight: 600;
    margin-bottom: 2.0rem;
}
.tile-imagered_dark{
    color: $black;
}
.tile-imagered__site{
    margin-bottom: 2.0rem;
    display: block;
    width: 100%;
}
.tile-imagered{
    color: #fff;
    min-height: 26.4rem;
    position: relative;
    padding: 3.2rem;
    display: block;
}
.tile-imagered_dark{
    color: $black;
}
.tile-imagered__content{
    max-width: 32.1rem;
    display: block;
}
.tile-imagered__pic{
    position: absolute;
    bottom: 0;
    right: 0rem;
}
.tile-imagered__pic_offset{
    right: 3.6rem;
}
.tile-imagered__content_l{
    max-width: 36.2rem;
}
.box__l-offset{
    margin-bottom: 3.4rem;
}
.vacancy__tiles_offset{
    padding-top: 1.5rem;
}
.list_doted{
    padding-left: 0;
    list-style: none;
    li{
        &:before{
            width: 6px;
            height: 6px;
            content: '';
            display: block;
            position: absolute;
            left: -2rem;
            top: .9rem;
            background:#7D8288;
            border-radius: 50%;
        }
        position: relative;
        margin-bottom: 2rem;
    }
}
.vacancy{
    padding-bottom: 1rem;
    margin-bottom: 3.8rem;
    &:not(:last-child){
        border-bottom: 1px solid $border;
    }
}
.section.section_last{
    padding-bottom: 0;
    margin-bottom: 0;
}
.vacancy-service__item{
    &:not(:last-child){
        border-bottom: 1px solid $border;
    }
    padding-bottom: 2.4rem;
    margin-bottom: 2rem;
}
.vacancy__price{
    font-size: 3.4rem;
    font-weight: 600;
    display: block;
    
}
.vacancy__desc{
    display: block;
    margin-top: .4rem;
    margin-bottom: .4rem;
    opacity: .5;
}