<div class="section section_animated wow preims-sec secton_b-small">
    <div class="wrapper wrapper_micro">
        <div class="preims ">
            <a href="#" class="preim preim_line match-height">
                <span class="preim__content">
                    <span class="preim__ico preim__ico_offset">
                        <img class="svg lizing" src="images/lizing.svg" alt="">
                    </span>
                    <span class="preim__info">
                        <h4 class="h4 preim__title title title_small-offset">Условия лизинга</h4>
                        <span class="preim__desc title title_large">
                            <p>Сбербанк, Минпромторг, Балтийский лизинг, Элемент лизинг</p>
                        </span>
                    </span>
                </span>
            </a>
            <a href="#" class="preim preim_line match-height">
                <span class="preim__content">
                    <span class="preim__ico preim__ico_offset">
                        <img class="svg payment" src="images/payment-ico.svg" alt="">
                    </span>
                    <span class="preim__info">
                        <h4 class="h4 preim__title title title_small-offset">Продажа в регионах</h4>
                        <span class="preim__desc title title_large">
                            <p>Москва, Санкт-Петербург, Воронеж, Краснодар и еще 21 центр по всей Россиии</p>
                        </span>
                    </span>
                </span>
            </a>
            <a href="#" class="preim preim_line match-height">
                <span class="preim__content">
                    <span class="preim__ico preim__ico_offset">
                        <img class="svg payment" src="images/payment-ico.svg" alt="">
                    </span>
                    <span class="preim__info">
                        <h4 class="h4 preim__title title title_small-offset">Сервис и ремонт</h4>
                        <span class="preim__desc title title_large">
                            <p>Навесное оборудование, запчасти и ремонт в регионах</p>
                        </span>
                    </span>
                </span>
            </a>
            <a href="#" class="preim preim_line match-height">
                <span class="preim__content">
                    <span class="preim__ico preim__ico_offset">
                        <img class="del svg" src="images/delivery icon.svg" alt="">
                    </span>
                    <span class="preim__info">
                        <h4 class="h4 preim__title title title_small-offset">Доставка по России</h4>
                        <span class="preim__desc title title_large">
                            <p>Доставим техник в любой регион РФ</p>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>